<% sortable ? id = account.name : id = "" %>

<li class="<%= li_class(account.id, active_account) %>" name="account_<%= account.link %>" id="account_<%= account.id.to_s %>">
  <div class="sort-handle"></div>
  <% acc_curency = Account.get_currency(account) %>
  <%= account.name %>
  <span class="balance float-right">
    <%= balance(account.balance.to_f, acc_curency, "cents") %>
  </span>
</li>