<%= content_for :meta_title, t('views.devise.confirmations.new.title') %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	<div class="container">

		<div class="row">
			<div class="col-12 py-2">
				<%= devise_error_messages! %>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<h1><%= t('views.devise.confirmations.new.title') %></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<%= f.button t('views.buttons.devise.resend_confirmation.text'), :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " #{t('views.buttons.devise.resend_confirmation.action')} ..."} %>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<%= render "devise/shared/links" %>
			</div>
		</div>

	</div>

<% end %>