<div class="container">

  <div class="authform">

    <div class="row">
      <div class="col-12">
        <h2><%= I18n.t('pages.edit_user_account.title') %></h2>
      </div>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= devise_error_messages! %>
        </div>
      </div>

      <% unless Rails.env.test? %>
        <div class="row">
          <div class="col-12 col-xl-6 py-2">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
          <div class="col-12 col-xl-6 py-2">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-12 col-xl-6 py-2">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="col-12 col-xl-6 py-2">
          <%= f.label :country %>
          <%= f.country_select :country_code, {}, class: 'form-control', include_blank: true %>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p><%= I18n.t('pages.edit_user_account.messages.password_fields') %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
        </div>
      </div>

      <%= render partial: "shared/password_strength" %>

      <div class="row">
        <div class="col-12">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :autocomplete => 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-2">
          <p><%= I18n.t('pages.edit_user_account.messages.current_password') %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pb-2">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-12 py-2">
          <%= f.button I18n.t('buttons.update_user_account.text'), :class => 'btn btn-secondary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " " + I18n.t('buttons.update_user_account.action') + " ..."} %>
        </div>
      </div>
    <% end %>

    <div class="row py-3">
      <div class="col-12">
        <h2><%= I18n.t('pages.edit_user_account.messages.delete_account_title') %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= button_to I18n.t('buttons.destroy_user_account.text'), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
      </div>
    </div>
          

  </div>

</div>