<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <h3>Sign up</h3>
      </div>
    </div>

    <% if devise_error_messages!.length > 0 %>
      <div class="row">
        <div class="col-12 py-2 bg-danger rounded">
          <%= devise_error_messages! %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-12 col-sm-6 py-2">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
      </div>
      <div class="col-12 col-sm-6 py-2">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-2">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-9 col-lg-6 py-2">
        <%= f.label "Country" %>
        <%= f.country_select(:country_code , {:include_blank => true}, {:class => 'form-control', 'onchange' => 'changeUserCountry(this.value);'}) %>
      </div>
      <div class="col-12 col-sm-3 col-lg-6 py-2">
        <%= f.label "Base Currency" %>
        <%= f.select(:currency, all_currencies(Money::Currency.table), {:include_blank => true}, { :class => 'form-control', 'onchange' => 'changeUserCurrency(this.value);' }) %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-2">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-2">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <%= f.hidden_field :timezone, id: 'timezone_input' %>

    <div class="row">
      <div class="col-12 py-2">
        <%= f.submit 'Sign up', :class => 'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>