<%
truncate = true
if defined?(@truncate)
	truncate = @truncate
end
%>

<a href="<%= notification.link %>" class="text-dark">
	<li class="nav-item">
		<span class="text-secondary float-right"><%= notification.short_time %></span>
		<span class="title <%= "font-weight-bold" unless notification.is_read %>"><%= notification.title %></span>
		<br />
		<% if truncate %>
			<p><%= notification.body.truncate(50, separator: ' ') unless notification.body.nil? %></p>
		<% else %>
			<p><%= notification.body unless notification.body.nil? %></p>
		<% end %>
	</li>
</a>