<% if user_signed_in? && !@budget.nil? %>
	<% if current_user.finished_setup %>
	<% type ||= 'dropdown' %>
	<% 
		if @budget[:type] == 'daily_budget'
			header = balance(@budget[:spent][:today], current_user.currency, "cents") + " / " + balance(@budget[:budget][:today], current_user.currency, "cents")
			text_color = "text-#{@budget[:spent][:color]}"
		else
			header = t('pages.daily_budget.day') + ": " + @budget[:days].to_s
			text_color = "primary"
		end
	%>

		<div class="dropdown mx-auto" style="width: auto;">

			<% if type == 'dropdown' %>

				<div class="navbar clickable mx-auto pt-3 rounded" id="daily_budget" style="width: auto;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<h4 class="<%= text_color %>">
						<%= header %>
					</h4>
				</div>

				<div class="dropdown-menu dropshadow-light">
					<% if @budget[:type] == 'daily_budget' %>
						<%= render partial: "users/daily_budget_dropdown", :locals => { :budget => @budget } %>
					<% else %>
						<%= render partial: "users/day_count_dropdown", :locals => { :budget => @budget } %>
					<% end %>
				</div>

			<% else %>

				<a href="<%= daily_budget_path %>">
					<div class="navbar clickable mx-auto pt-3" id="daily_budget" style="width: auto;">
						<h4 class="<%= text_color %>">
							<%= header %>
						</h4>
					</div>
				</a>

			<% end %>

		</div>

	<% end %>
<% end %>