<%= content_for :meta_title, "Forgot Password" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

	<div class="container">

		<div class="row">
			<div class="col-12 py-2">
				<h1>Forgot your password?</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<%= f.button "Send me reset password instructions", :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " Processing ..."} %>
			</div>
		</div>

		<div class="row">
			<div class="col-12 py-2">
				<%= render "devise/shared/links" %>
			</div>
		</div>

	</div>

<% end %>