<div class="modal fade" id="scheduleform" tabindex="-1" role="dialog" aria-labelledby="scheduleformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleformLabel">New Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Schedule.new) do |f| %>
        <div class="modal-body">
          <div class="container">
            <div class = "row">
              <div class = "col-12 col-lg-7 col-xl-7 px-2 px-sm-5 border-right">

                <div class="row py-2">
                  <div class="col-12">

                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control', placeholder: "Payday" %>

                  </div>
                </div>

                <div class="row py-2" id="start-date">
                  <div class="col-6">
                    <%= f.label :start_date %>
                    <%= f.text_field :start_date, class: 'datepicker form-control' %>
                  </div>
                  <div class="col-6">
                    <%= f.label :start_time %>
                    <%= f.text_field :start_time, type: 'time', value:'now', class: 'form-control' %>
                    <%= f.hidden_field :timezone, id: 'timezone_input' %>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col-12">

                    <%= f.label :schedule %>
                    <%= f.select(:schedule, ["Daily", "Weekly", "Monthly", "Annually"], {}, { :class => 'form-control', 'onchange' => 'changeSchedulePeriod(this)' }) %>

                  </div>
                </div>

                <div class="row py-2" id="simple-period">
                  <div class="col-12">

                    <%= f.label :run_every %>
                    <%= f.number_field :run_every, class: 'form-control', value: "1" %>
                    <p id="period">
                      Days
                    </p>

                  </div>
                </div>

                <div class="row py-2" id="simple-period">
                  <div class="col-12">

                    <%= f.label :days %>
                    <div class="row">
                      <div class="col-6">
                        <%= f.select(:days, ["Pick manually", "Every first ...", "Every last ...", "Every second ...", "Every third ...", "Every fourth ..."], {}, { :class => 'form-control', 'onchange' => 'changeScheduleDays(this)' }) %>
                      </div>
                      <div class="col-6">
                        <%= f.select(:days2, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], {}, { :class => 'form-control', :style => 'display:none;', 'onchange' => 'changeScheduleDays(this)' }) %>
                      </div>
                    </div>

                    <div id="daypicker">
                      <table>
                        <tr>
                          <% for i in 1..31 do %>
                            <% if (i-1) % 7 == 0 %>
                              </tr><tr>
                            <% end %>
                            <td onclick="schedulePickDate(this, $('#scheduleform #schedule_dates_picked'))"><%= i %></td>
                          <% end %>
                        </tr>
                      </table>
                    </div>

                    <%= f.text_field :dates_picked, class: 'form-control' %>
                  </div>
                </div>


                <div class="row py-2" id="weekday" style="display: none;">
                  <div class="col-12">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                      <label class="btn btn-secondary py-3" id="weekday-monday">
                        <%= f.check_box :monday %>Monday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-tuesday">
                        <%= f.check_box :tuesday %>Tuesday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-wednesday">
                        <%= f.check_box :wednesday %>Wednesday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-thursday">
                        <%= f.check_box :thursday %>Thursday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-friday">
                        <%= f.check_box :friday %>Friday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-saturday">
                        <%= f.check_box :saturday %>Saturday
                      </label>
                      <label class="btn btn-secondary py-3" id="weekday-sunday">
                        <%= f.check_box :sunday %>Sunday
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col-12">
                    <button type="button" class="btn btn-link" id="schedule_advanced_toggle" onclick="advancedScheduleOptions();">show advanced options</button>
                  </div>
                </div>

                <div id="schedule_advanced" style="display: none;">
                  <div class="row py-2" id="start-date">
                    <div class="col-12">
                      <%= f.label :end_date %>
                      <%= f.text_field :end_date, class: 'datepicker datepicker-null form-control' %>
                    </div>
                  </div>

                  <div class="row py2">
                    <div class="col-12">
                      <%= f.label :exclude %>
                    </div>
                  </div>

                  <div class="row py-2" id="weekday-exclude">
                    <div class="col-12">

                      <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                        <label class="btn btn-secondary py-3" id="weekday-exclude-mon">
                          <%= f.check_box :mon %>Mon
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-tue">
                          <%= f.check_box :tue %>Tue
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-wed">
                          <%= f.check_box :wed %>Wed
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-thu">
                          <%= f.check_box :thu %>Thu
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-fri">
                          <%= f.check_box :fri %>Fri
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-sat">
                          <%= f.check_box :sat %>Sat
                        </label>
                        <label class="btn btn-secondary py-3" id="weekday-exclude-sun">
                          <%= f.check_box :sun %>Sun
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="row py-2" id="daypicker-exclude" style="display: none">
                    <div class="col-12">
                      <table>
                        <tr>
                          <% for i in 1..31 do %>
                            <% if (i-1) % 7 == 0 %>
                              </tr><tr>
                            <% end %>
                            <td onclick="schedulePickDate(this, $('#scheduleform #schedule_dates_picked_exclude'))"><%= i %></td>
                          <% end %>
                        </tr>
                      </table>
                    </div>
                    <%= f.text_field :dates_picked_exclude, class: 'form-control' %>
                    </div>
                  </div>

              </div>
              <div class="col-12 col-lg-5 col-xl-5 px-2 px-sm-5 border-right">
                <div class="row py2">
                  <div class="col-12">
                    <p>Next occurrences</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Schedule', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>