<div class="modal <%= 'fade' if Rails.env.test? == false %>" id="scheduleform" tabindex="-1" role="dialog" aria-labelledby="scheduleformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleformLabel">New Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Schedule.new) do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class = "row">
              <div class = "col-12 col-lg-7 col-xl-7 px-3 px-xl-5 border-right">

                <div class="row py-2">
                  <div class="col-12 py-5 bg-primary rounded" id="type">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                      <label class="btn btn-outline-light active py-3" onclick="changeScheduleType('simple')" id="type-simple">
                        <%= f.radio_button :type, 'simple' %>Simple
                      </label>
                      <label class="btn btn-outline-light py-3" onclick="changeScheduleType('advanced')" id="type-advanced">
                        <%= f.radio_button :type, 'advanced' %>Advanced
                      </label>
                    </div>

                  </div>

                </div>

                <div class="row py-2">
                  <div class="col-12">

                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control', placeholder: "Payday" %>

                  </div>
                </div>

                <div class="row py-2" id="start-date">
                  <div class="col-12 col-sm-6">
                    <%= f.label :schedule %>
                    <%= f.select(:schedule, ["Daily", "Weekly", "Monthly", "Annually"], {}, { :class => 'form-control', 'onchange' => 'changeSchedulePeriod(this.value)' }) %>
                  </div>
                  <div class="col-12 col-sm-6">
                    <%= f.label :start_date %>
                    <%= f.text_field :start_date, class: 'datepicker form-control' %>
                  </div>
                </div>

                <div class="row py-2" class="schedule-simple-period">
                  <div class="col-12">
                    <%= f.label :run_every %>
                  </div>
                </div>
                <div class="row" class="schedule-simple-period">
                  <div class="col-6">
                    <%= f.number_field :run_every, class: 'form-control', value: "1" %>
                  </div>
                  <div class="col-6 px-0 py-2">
                    <p id="period">
                      Days
                    </p>
                  </div>
                </div>

                <div class="schedule-advanced">
                  <div class="row py-2 schedule-simple-period monthly">
                    <div class="col-12">

                      <%= f.label :days %>
                      <div class="row">
                        <div class="col-6">
                          <%= f.select(:days, ["Specific dates", "Every first ...", "Every last ...", "Every second ...", "Every third ...", "Every fourth ..."], {}, { :class => 'form-control', 'onchange' => 'changeScheduleDays(this.value)' }) %>
                        </div>
                        <div class="col-6">
                          <%= f.select(:days2, ["Day", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], {}, { :class => 'form-control', :style => 'display:none;', 'onchange' => 'changeScheduleDays(this)' }) %>
                        </div>
                      </div>

                      <div id="daypicker">
                        <%= render partial: 'schedules/date_picker', :locals => {:input_target => '#schedule_dates_picked'} %>
                      </div>

                      <%= f.hidden_field :dates_picked, class: 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="schedule-advanced">
                  <div class="row py-2 weekly" id="weekday" style="display: none;">
                    <div class="col-12 weekly">

                      <%= render partial: 'schedules/weekday_picker', :locals => {:id_prefix => 'weekday', :f => f} %>
                    </div>
                  </div>
                </div>

                <div class="schedule-advanced">
                  <div class="row py-2">
                    <div class="col-12">
                      <button type="button" class="btn btn-link" id="schedule_advanced_toggle" onclick="advancedScheduleOptions();">show advanced options</button>
                    </div>
                  </div>

                  <div id="schedule_advanced" style="display: none;">
                    <div class="row py-2" id="end-date">
                      <div class="col-12">
                        <%= f.label :end_date %>
                        <%= f.text_field :end_date, class: 'datepicker datepicker-null form-control' %>
                      </div>
                    </div>
                    

                    <div class="row py2 monthly">
                      <div class="col-12">
                        <%= f.label :exclude %>
                      </div>
                    </div>

                    <div class="monthly">
                      <div class="row py-2" id="weekday-exclude">
                        <div class="col-12">

                          <%= render partial: 'schedules/weekday_picker', :locals => {:id_prefix => 'weekday-exclude', :f => f} %>

                        </div>
                      </div>

                      <div class="row py-2" id="daypicker-exclude" style="display: none">
                        <div class="col-12">
                          <%= render partial: 'schedules/date_picker', :locals => {:input_target => '#schedule_dates_picked_exclude'} %>
                        </div>
                        <%= f.hidden_field :dates_picked_exclude, class: 'form-control' %>
                      </div>
                    </div>

                    <div class="row py-2 monthly">
                      <div class="col-12">
                        <%= f.label :if_exclusion_met %>
                      </div>
                    </div>
                    <div class="row monthly">
                      <div class="col-6">
                        <%= f.select(:exclusion_met1, ["Don't run", "Run on the previous ...", "Run on the next ..."], {}, { :class => 'form-control', 'onchange' => 'changeScheduleExclusionMet(this.value)' }) %>
                      </div>
                      <div class="col-6">
                        <%= f.select(:exclusion_met2, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], {}, { :class => 'form-control', :style => 'display:none;' }) %>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-12 col-lg-5 col-xl-5 px-2 px-sm-5 border-right">
                <div class="row py2">
                  <div class="col-12">
                    <p>Next occurrences</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Schedule', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
