<div class="modal fade" id="scheduleform" tabindex="-1" role="dialog" aria-labelledby="scheduleformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleformLabel">New Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Schedule.new) do |f| %>
        <div class="modal-body">
          <%= f.label :name %><br />
          <%= f.text_field :name, placeholder: "Salary", class: 'form-control' %>
          <%= f.label :run_every %>
          <%= f.number_field :run_number, placeholder: "1", class: 'form-control' %>
          <%= f.select(:period, ["days", "weeks", "months", "years"], {}, { :class => 'form-control' }) %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Schedule', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>