<tr next_occurrence="<%= schedule.time_num %>">
  <td>
    <%= schedule.name %>
  </td>
  <td>
    <%= User.format_date(schedule.run_date) if schedule.run_date %>
  </td>
  <td>
    <i class="fa fa-list clickable fa-lg" data-toggle="modal" data-target="#schedule_transactions_form" id="schedule-transactions-button_<%= schedule.id %>" onclick="scheduleTransactionsForm(<%= schedule.id %>);"></i>
    <% if schedule.pause_until_utc.nil? %>
      <i class="fa fa-pause-circle clickable fa-lg" data-toggle="modal" data-target="#schedule_pause_form" id="schedule-pause-button_<%= schedule.id %>" onclick="schedulePauseForm(<%= schedule.id %>);"></i>
    <% else %>
      <i class="fa fa-play-circle clickable fa-lg" data-toggle="modal" data-target="#schedule_pause_form" id="schedule-pause-button_<%= schedule.id %>" onclick="unpauseSchedule(<%= schedule.id %>);"></i>
    <% end %>
    <i class="fa fa-stop-circle clickable fa-lg" data-toggle="modal" data-target="#schedule_transactions_form" id="schedule-transactions-button_<%= schedule.id %>" onclick="scheduleTransactionsForm(<%= schedule.id %>);"></i>
  </td>
</tr>