<div class="modal fade" id="scheduleform" tabindex="-1" role="dialog" aria-labelledby="scheduleformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scheduleformLabel">New Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Schedule.new) do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class="row py-2">
              <div class="col-12 py-5 bg-primary rounded" id="type">

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                  <label class="btn btn-outline-light active py-3" id="type-simple">
                    <%= f.radio_button :type, 'simple' %>Simple
                  </label>
                  <label class="btn btn-outline-light py-3" id="type-advanced">
                    <%= f.radio_button :type, 'advanced' %>Advanced
                  </label>
                </div>
              </div>

            </div>

            <div class="row py-2">
              <div class="col-12">

                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control', placeholder: "Payday" %>

              </div>
            </div>

            <div class="row py-2">
              <div class="col-12">

                <%= f.label :period %>
                <%= f.select(:period, ["Days", "Months", "Years", "Weekday"], {}, { :class => 'form-control', 'onchange' => 'changeSchedulePeriod(this)' }) %>

              </div>
            </div>

            <div class="row py-2" id="simple-period">
              <div class="col-12">

                <%= f.label :every %>
                <%= f.number_field :period_numeric, class: 'form-control', placeholder: "1" %>
                <p id="period">
                  Days
                </p>

              </div>
            </div>

            <div class="row py-2" id="weekday" style="display: none;">
              <div class="col-12">

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                  <label class="btn btn-secondary py-3" id="weekday-monday">
                    <%= f.check_box :monday %>Monday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-tuesday">
                    <%= f.check_box :tuesday %>Tuesday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-wednesday">
                    <%= f.check_box :wednesday %>Wednesday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-thursday">
                    <%= f.check_box :thursday %>Thursday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-friday">
                    <%= f.check_box :friday %>Friday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-saturday">
                    <%= f.check_box :saturday %>Saturday
                  </label>
                  <label class="btn btn-secondary py-3" id="weekday-sunday">
                    <%= f.check_box :sunday %>Sunday
                  </label>
                </div>
              </div>
            </div>

            <div class="row py-2" id="start-date">
              <div class="col-12">
                <%= f.label :start_date %>
                <%= f.text_field :start_date, class: 'datepicker form-control' %>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Schedule', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>