<%
  form_params = Schedule.get_form_params(schedule)
  hidden = form_params[:hidden_fields]
  hidden.include?("days2") ? days2_style = "display: none;" : ""
  hidden.include?("weekly") ? weekdaypicker_style = "display: none;" : ""
  hidden.include?("exclusion_met_day") ? exclusion_met_day_style = "display: none;" : ""
  hidden.include?("advanced2") ? advanced2_style = "display: none;" : ""

  if form_params[:type] == "advanced"
    advanced_style = ""
  else
    advanced_style = "display: none;"
  end

  if hidden.include?("datepicker")
    daypicker_style = "display: none;" 
    daypicker_exclude_style = ""
    weekdaypicker_exclude_style = "display: none;"
  else
    daypicker_style = "" 
    daypicker_exclude_style = "display: none;"
    weekdaypicker_exclude_style = ""
  end
%>

<div class = "row" id="schedule-form-root">

  <div class = "col-12 col-lg-7 col-xl-7 px-3 px-xl-5 border-right", onchange="getScheduleNextOccurrences(this)">
    <%= f.text_field :timezone, id: 'timezone_input', value: form_params[:timezone] %>
    <%= f.text_field :dates_picked, class: 'form-control' %>
    <%= f.text_field :dates_picked_exclude, class: 'form-control' %>

    <div class="row py-2">
      <div class="col-12 py-5 bg-primary rounded" id="type">

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
          <label class="btn btn-outline-light <%= 'active' if form_params[:type] == 'simple' %> py-3" onclick="changeScheduleType('simple', this)" id="type-simple">
            <%= f.radio_button :type, 'simple', :checked => (form_params[:type] == 'simple') %>Simple
          </label>
          <label class="btn btn-outline-light <%= 'active' if form_params[:type] == 'advanced' %> py-3" onclick="changeScheduleType('advanced', this)" id="type-advanced">
            <%= f.radio_button :type, 'advanced', :checked => (form_params[:type] == 'advanced') %>Advanced
          </label>
        </div>

      </div>

    </div>

    <div class="row py-2">
      <div class="col-12">

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Payday", value: form_params[:name] %>

      </div>
    </div>

    <div class="row py-2" id="start-date">
      <div class="col-12 col-sm-6">
        <%= f.label :schedule %>
        <%= f.select(:schedule, [
          ["Daily", "daily"], 
          ["Weekly", "weekly"], 
          ["Monthly", "monthly"], 
          ["Annually", "annually"]
          ], { :selected => form_params[:schedule] }, { :class => 'form-control', 'onchange' => 'changeSchedulePeriod(this.value, this)' }) %>
      </div>
      <div class="col-12 col-sm-6">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, class: 'datepicker datepicker-null form-control', value: form_params[:start_date] %>
      </div>
    </div>

    <div class="row py-2" class="schedule-simple-period">
      <div class="col-12">
        <%= f.label :run_every %>
      </div>
    </div>
    <div class="row" class="schedule-simple-period">
      <div class="col-6">
        <%= f.number_field :run_every, class: 'form-control', value: form_params[:run_every], 'onchange' => 'changeRunsEvery(this)' %>
      </div>
      <div class="col-6 px-0 py-2">
        <p id="period">
          <%= form_params[:period_txt] %>
        </p>
      </div>
    </div>

    <div class="schedule-advanced" style="<%= advanced_style %>">
      <div class="row py-2 schedule-simple-period monthly">
        <div class="col-12">

          <%= f.label :days %>
          <div class="row">
            <div class="col-6">
              <%= f.select(:days, [
                ["Specific dates", "specific"], 
                ["Every first ...", "first"], 
                ["Every last ...", "last"], 
                ["Every second ...", "second"], 
                ["Every third ...", "third"], 
                ["Every fourth ...", "fourth"]
                ], { :selected => form_params[:days] }, { :class => 'form-control', 'onchange' => 'changeScheduleDays(this.value, this)' }) %>
            </div>
            <div class="col-6" style="<%#= 'display: none;' if form_params[:hidden_fields].include?('days2') %>">
              <%= f.select(:days2, [
                ["Day", "day"], 
                ["Monday", "mon"], 
                ["Tuesday", "tue"], 
                ["Wednesday", "wed"], 
                ["Thursday", "thu"], 
                ["Friday", "fri"], 
                ["Saturday", "sat"], 
                ["Sunday", "sun"]
                ], { :selected => form_params[:days2] }, { :class => 'form-control', 'onchange' => 'changeScheduleDays(this.value, this)', 'style' => days2_style }) %>
            </div>
          </div>

          <div id="daypicker" style="<%= daypicker_style %>">
            <%= render partial: 'schedules/date_picker', :locals => {:@dates => form_params[:days_picked], :input_target => '#schedule_dates_picked' } %>
          </div>

        </div>
      </div>
    </div>

    <div class="schedule-advanced">
      <div class="row py-2 weekly" id="weekday">
        <div class="col-12 weekly" style="<%= weekdaypicker_style %>">

          <%= render partial: 'schedules/weekday_picker', :locals => {:id_prefix => 'weekday', :f => f, :@dates => form_params[:days_picked] } %>
        </div>
      </div>
    </div>

    <div class="schedule-advanced">
      <div class="row py-2">
        <div class="col-12">
          <button type="button" class="btn btn-link" id="schedule_advanced_toggle" onclick="advancedScheduleOptions(this);"><%= form_params[:advanced2] ? "hide" : "show" %> advanced options</button>
        </div>
      </div>

      <div id="schedule_advanced" style="<%= advanced2_style %>">
        <div class="row py-2" id="end-date">
          <div class="col-12">
            <%= f.label :end_date %>
            <%= f.text_field :end_date, class: 'datepicker datepicker-null form-control', value: form_params[:end_date] %>
          </div>
        </div>
        

        <div class="row py2 monthly">
          <div class="col-12">
            <%= f.label :exclude %>
          </div>
        </div>

        <div class="monthly">
          <div class="row py-2" id="weekday-exclude">
            <div class="col-12" style="<%= weekdaypicker_exclude_style %>">

              <%= render partial: 'schedules/weekday_picker', :locals => {:id_prefix => 'weekday_exclude', :f => f, :@dates => form_params[:exclude]} %>

            </div>
          </div>

          <div class="row py-2" id="daypicker-exclude" style="<%= daypicker_exclude_style %>">
            <div class="col-12">
              <%= render partial: 'schedules/date_picker', :locals => {:input_target => '#schedule_dates_picked_exclude', :@dates => form_params[:exclude]} %>
            </div>
          </div>
        </div>

        <div class="row py-2 monthly">
          <div class="col-12">
            <%= f.label :if_exclusion_met %>
          </div>
        </div>
        <div class="row monthly">
          <div class="col-6">
            <%= f.select(:exclusion_met1, [
              ["Don't run", "cancel"], 
              ["Run on the previous ...", "previous"], 
              ["Run on the next ...", "next"]
              ], { :selected => form_params[:exclusion_met1] }, { :class => 'form-control', 'onchange' => 'changeScheduleExclusionMet(this.value, this)' }) %>
          </div>
          <div class="col-6">
            <%= f.select(:exclusion_met2, [
              ["Monday", "mon"], 
              ["Tuesday", "tue"], 
              ["Wednesday", "wed"], 
              ["Thursday", "thu"], 
              ["Friday", "fri"], 
              ["Saturday", "sat"], 
              ["Sunday", "sun"]
              ], { :selected => form_params[:exclusion_met2] }, { :class => 'form-control', :style => exclusion_met_day_style }) %>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-12 col-lg-5 col-xl-5 px-2 px-sm-5 border-right">
    <div class="row py2">
      <div class="col-12 d-none d-lg-block" style="position: fixed; margin-bottom: 0; pointer-events: none;">
        <p>Next occurrences</p>
        <div id="next_occurrences" class="bottom-align-text">
          
        </div>
      </div>

      <div class="col-12 d-block d-lg-none">
        <p>Next occurrences</p>
        <div id="next_occurrences" class="bottom-align-text">
          
        </div>
      </div>

    </div>
        </div>

      </div>