<tr next_occurrence="<%= schedule.time_num %>" id="<%= "schedule_#{schedule.hash_id}" %>">
  <td>
    <%= schedule.name %>
  </td>
  <td style="width: 160px;">
    <% if schedule.pause_until.nil? %>
      <%= User.format_date(schedule.run_date) if schedule.run_date %>
    <% else %>
      <%= User.format_date(schedule.pause_until) %>
    <% end %>
  </td>
  <td style="width: 140px;">
    <i class="fa fa-list clickable fa-lg schedule-action-button" data-toggle="modal" data-target="#schedule_transactions_form" id="schedule-transactions-button_<%= schedule.hash_id %>" onclick="scheduleTransactionsForm('<%= schedule.hash_id %>');" title="<%= t('views.schedules.title_hints.transactions') %>"></i>
    <i class="fa fa-edit clickable fa-lg schedule-action-button" data-toggle="modal" data-target="#editscheduleform" id="schedule-edit-button_<%= schedule.hash_id%>" onclick="editScheduleForm('<%= schedule.hash_id %>');" title="<%= t('views.schedules.title_hints.edit') %>"></i>
    <% if schedule.pause_until_utc.nil? && schedule.is_active && schedule.type_of != 'main' %>
      <i class="fa fa-pause-circle clickable fa-lg schedule-action-button" data-toggle="modal" data-target="#schedule_pause_form" id="schedule-pause-button_<%= schedule.hash_id %>" onclick="schedulePauseForm('<%= schedule.hash_id %>');" title="<%= t('views.schedules.title_hints.pause') %>"></i>
    <% elsif !schedule.pause_until_utc.nil? && schedule.is_active && schedule.type_of != 'main' %>
      <i class="fa fa-play-circle clickable fa-lg schedule-action-button" id="schedule-play-button_<%= schedule.hash_id %>" onclick="unpauseSchedule('<%= schedule.hash_id %>');" title="<%= t('views.schedules.title_hints.unpause') %>"></i>
    <% end %>
    <% if schedule.is_active && schedule.type_of != 'main' %>
      <i class="fa fa-stop-circle clickable fa-lg schedule-action-button" id="schedule-stop-button_<%= schedule.hash_id %>" onclick="stopSchedule('<%= schedule.hash_id %>', this);" title="<%= t('views.schedules.title_hints.stop') %>"></i>
    <% elsif schedule.type_of != 'main' %>
      <i class="fa fa-play-circle clickable fa-lg schedule-action-button" id="schedule-activate-button_<%= schedule.hash_id %>" onclick="activateSchedule('<%= schedule.hash_id %>');" title="<%= t('views.schedules.title_hints.reactivate') %>"></i>
    <% end %>
    <%= link_to(destroy_schedule_path(schedule), class: "delete-confirm", "confirm-message" => "This action will delete schedule '#{schedule.name}'. This cannot be undone. Do you want to continue?") do %>
      <i class="fa fa-trash clickable fa-lg schedule-action-button" title="<%= t('views.schedules.title_hints.delete') %>"></i>
    <% end %>
  </td>
</tr>