<% 
  type ||= ""
  suff = ""
  if defined?(id)
    suff = "_#{id}"
  end
%>

<div id="simple_schedule_form">

  <p><%= t('views.schedules.simple_form.every') %></p>
  <input type="number" class="form-control pos_n" id="periodNum<%= suff %>" value="1" step="1" name="periodNum<%= suff %>">
  <select name="period<%= suff %>" class="form-control">
    <option value="months" children=".path-months, .path-amount"><%= t('views.schedules.simple_form.periods.months') %></option>
    <option value="weeks" children=".path-weeks, .path-amount"><%= t('views.schedules.simple_form.periods.weeks') %></option>
    <option value="days" children=".path-days, .path-amount"><%= t('views.schedules.simple_form.periods.days') %></option>
  </select>


  <div class="children">
    <div class="hidden ignore-ladder path-months path-weeks path-days" id="start_date">
      <p><%= t('views.schedules.simple_form.starting_on') %></p>
      <input name="start_date<%= suff %>" class="form-control datepicker">
    </div>
    <div class="path-months">
      <p><%= t('views.schedules.simple_form.months.on_the') %></p>
      <select name="month_day<%= suff %>" class="form-control" id="month_day<%= suff %>">
        <option value="1"><%= t('views.schedules.simple_form.months.nth.first') %></option>
        <option value="last"><%= t('views.schedules.simple_form.months.nth.last') %></option>
        <option value="2"><%= t('views.schedules.simple_form.months.nth.2nd') %></option>
        <option value="3"><%= t('views.schedules.simple_form.months.nth.3rd') %></option>
        <option value="4"><%= t('views.schedules.simple_form.months.nth.4th') %></option>
        <option value="5"><%= t('views.schedules.simple_form.months.nth.5th') %></option>
        <option value="6"><%= t('views.schedules.simple_form.months.nth.6th') %></option>
        <option value="7"><%= t('views.schedules.simple_form.months.nth.7th') %></option>
        <option value="8"><%= t('views.schedules.simple_form.months.nth.8th') %></option>
        <option value="9"><%= t('views.schedules.simple_form.months.nth.9th') %></option>
        <option value="10"><%= t('views.schedules.simple_form.months.nth.10th') %></option>
        <option value="11"><%= t('views.schedules.simple_form.months.nth.11th') %></option>
        <option value="12"><%= t('views.schedules.simple_form.months.nth.12th') %></option>
        <option value="13"><%= t('views.schedules.simple_form.months.nth.13th') %></option>
        <option value="14"><%= t('views.schedules.simple_form.months.nth.14th') %></option>
        <option value="15"><%= t('views.schedules.simple_form.months.nth.15th') %></option>
        <option value="16"><%= t('views.schedules.simple_form.months.nth.16th') %></option>
        <option value="17"><%= t('views.schedules.simple_form.months.nth.17th') %></option>
        <option value="18"><%= t('views.schedules.simple_form.months.nth.18th') %></option>
        <option value="19"><%= t('views.schedules.simple_form.months.nth.19th') %></option>
        <option value="20"><%= t('views.schedules.simple_form.months.nth.20th') %></option>
        <option value="21"><%= t('views.schedules.simple_form.months.nth.21st') %></option>
        <option value="22"><%= t('views.schedules.simple_form.months.nth.22nd') %></option>
        <option value="23"><%= t('views.schedules.simple_form.months.nth.23rd') %></option>
        <option value="24"><%= t('views.schedules.simple_form.months.nth.24th') %></option>
        <option value="25"><%= t('views.schedules.simple_form.months.nth.25th') %></option>
        <option value="26"><%= t('views.schedules.simple_form.months.nth.26th') %></option>
        <option value="27"><%= t('views.schedules.simple_form.months.nth.27th') %></option>
        <option value="28"><%= t('views.schedules.simple_form.months.nth.28th') %></option>
      </select>
      <select name="month_day2<%= suff %>" class="form-control" id="month_day2<%= suff %>">
        <option value="day" children=".path-months-except-wday, .path-amount"><%= t('views.schedules.simple_form.weeks.days.day') %></option>
        <option value="sun" children=""><%= t('views.schedules.simple_form.weeks.days.sunday') %></option>
        <option value="mon" selected children=""><%= t('views.schedules.simple_form.weeks.days.monday') %></option>
        <option value="tue" children=""><%= t('views.schedules.simple_form.weeks.days.tuesday') %></option>
        <option value="wed" children=""><%= t('views.schedules.simple_form.weeks.days.wednesday') %></option>
        <option value="thu" children=""><%= t('views.schedules.simple_form.weeks.days.thursday') %></option>
        <option value="fri" children=""><%= t('views.schedules.simple_form.weeks.days.friday') %></option>
        <option value="sat" children=""><%= t('views.schedules.simple_form.weeks.days.saturday') %></option>
      </select>

      <div class="children">
        <div class="hidden path-months-except-wday">
          <select name="month_exclude_wday<%= suff %>" class="form-control">
            <option value="none" children=".path-amount"><%= t('views.schedules.simple_form.exceptions.none') %></option>
            <option value="weekends" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.weekends') %></option>
            <option value="except-sun" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.sundays') %></option>
            <option value="except-mon" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.mondays') %></option>
            <option value="except-tue" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.tuesdays') %></option>
            <option value="except-wed" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.wednesdays') %></option>
            <option value="except-thu" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.thursdays') %></option>
            <option value="except-fri" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.fridays') %></option>
            <option value="except-sat" children=".path-months-except-met, .path-amount"><%= t('views.schedules.simple_form.exceptions.saturdays') %></option>
          </select>

          <div class="children py-2">
            <div class="hidden path-months-except-met">
              <p><%= t('views.schedules.simple_form.then') %></p>
              <select name="month_exclude_met<%= suff %>" class="form-control">
                <option value="previous"><%= t('views.schedules.simple_form.exception_met.previous') %></option>
                <option value="next"><%= t('views.schedules.simple_form.exception_met.next') %></option>
              </select>
              <select name="month_exclude_met_day<%= suff %>" class="form-control">
                <option value="sun"><%= t('views.schedules.simple_form.weeks.days.sunday') %></option>
                <option value="mon"><%= t('views.schedules.simple_form.weeks.days.monday') %></option>
                <option value="tue"><%= t('views.schedules.simple_form.weeks.days.tuesday') %></option>
                <option value="wed"><%= t('views.schedules.simple_form.weeks.days.wednesday') %></option>
                <option value="thu"><%= t('views.schedules.simple_form.weeks.days.thursday') %></option>
                <option value="fri" selected="selected"><%= t('views.schedules.simple_form.weeks.days.friday') %></option>
                <option value="sat"><%= t('views.schedules.simple_form.weeks.days.saturday') %></option>
              </select>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="hidden path-weeks">
      <p>on</p>
      <select name="week_day<%= suff %>" class="form-control">
        <option disabled selected value> -- </option>
        <option value="sun"><%= t('views.schedules.simple_form.weeks.days.sunday') %></option>
        <option value="mon"><%= t('views.schedules.simple_form.weeks.days.monday') %></option>
        <option value="tue"><%= t('views.schedules.simple_form.weeks.days.tuesday') %></option>
        <option value="wed"><%= t('views.schedules.simple_form.weeks.days.wednesday') %></option>
        <option value="thu"><%= t('views.schedules.simple_form.weeks.days.thursday') %></option>
        <option value="fri"><%= t('views.schedules.simple_form.weeks.days.friday') %></option>
        <option value="sat"><%= t('views.schedules.simple_form.weeks.days.saturday') %></option>
      </select>
    </div>

    <div class="path-amount py-2">
      <%= hint(t('views.schedules.hints.fixed_amount.title'), t('views.schedules.hints.fixed_amount.body')) %>
      <select name="fixed_amount<%= suff %>" class="form-control">
        <option value="fixed" children=".path-fixed-amount"><%= t('views.schedules.simple_form.fixed') %></option>
        <option value="varied" children=".path-varied-amount"><%= t('views.schedules.simple_form.varies') %></option>
      </select>

      <div class="children py-2">

        <div class="path-fixed-amount">
          <%= select_tag "currency#{suff}", options_for_select(all_currencies(Money::Currency.table), :selected => current_user.currency), {:class => "form-control currency"} %>
          <input type="number" step="any" class="form-control" placeholder="<%= t('views.shared.placeholders.amount') %>" name="amount<%= suff %>"><br />
          <%= select_tag "account#{suff}", options_for_select(user_accounts_array),{:class => "form-control account_select my-2"} %>
        </div>
        <div class="hidden path-varied-amount">
          <%= select_tag "currency#{suff}", options_for_select(all_currencies(Money::Currency.table), :selected => current_user.currency), {:class => "form-control currency"} %>
          <input type="number" step="any" class="form-control" placeholder="<%= t('views.shared.placeholders.average_amount') %>" name="average_amount<%= suff %>"><br />
          <%= select_tag "account_average#{suff}", options_for_select(user_accounts_array),{:class => "form-control account_select my-2"} %>
        </div>
        
      </div>

    </div>

  </div>

</div>

<script>
  $("[id^=month_day]").change(function(){
    let n = parseInt($(this).val(), 10);
    if (Number.isNaN(n)) {
      n = 1
    }

    if (n > 4) {
      $(this).next().val("day");
      $(this).next().find("option").slice(1).attr("disabled", "disabled");
      showHideFields($(this).next());
    } else {
      $(this).next().find("option").slice(1).removeAttr('disabled');
      showHideFields($(this).next());
    }
  });

  // changes the currency selection to the account's currency
  $("#simple_schedule_form [id^=account]").change(function(){
    let name = $(this).find("option:selected").text();
    let nameArr = name.split(" ");
    let currency = nameArr[nameArr.length - 1];
    currency = currency.replace("(", "");
    currency = currency.replace(")", "");
    $(this).parent().parent().find("[id^=currency]").each(function(){
      if($(this).attr("changed") === undefined) {
        $(this).val(currency);
      }
    });
  });

  $("#simple_schedule_form [id^=currency]").change(function(){
    let value = $(this).val();

    $(this).parent().parent().find("[id^=currency]").each(function(){
      $(this).attr("changed", "changed");
      $(this).val(value);
    });
  });

  $("[id^=periodNum").change(function(){
    let n = parseInt($(this).val(), 10);
    if (Number.isNaN(n)) {
      n = 1;
    }

    if (n < 1) {
      n = 1;
      $(this).val(1);
    }

    if (n == 1) {
      $(this).parents("#simple_schedule_form").find("[id^=start_date]").slideUp("fast");
    } else {
      $(this).parents("#simple_schedule_form").find("[id^=start_date]").slideDown("fast");
    }
  });


</script>