<% 
  type ||= ""
  suff = ""
  if defined?(id)
    suff = "_#{id}"
  end
%>

<div id="simple_schedule_form">

  <% if type != "income" %>
    <div id="simple_schedule_form<%= suff %>" class="ladderform simple_schedule_form">
      <% if type != "fixed_expense" %>
        <div class="py-2">
          <input type="text" class="form-control py-2" placeholder="Schedule name" name="name<%= suff %>">
        </div>
      <% else %>
        <select name="category<%= suff %>" class="form-control">
          <option disabled selected value> -- </option>
          <option value="rent" children=".path-schedule"><%= t('schedule_form.categories.rent') %></option>
          <option value="mortgage" children=".path-schedule"><%= t('schedule_form.categories.mortgage') %></option>
          <option value="electricity" children=".path-schedule"><%= t('schedule_form.categories.electricity') %></option>
          <option value="water" children=".path-schedule"><%= t('schedule_form.categories.water') %></option>
          <option value="vehicle" children=".path-schedule"><%= t('schedule_form.categories.car_loan') %></option>
          <option value="vehicle_insurance" children=".path-schedule"><%= t('schedule_form.categories.car_insurance') %></option>
          <option value="health_insurance" children=".path-schedule"><%= t('schedule_form.categories.health_insurance') %></option>
          <option value="house_insurance" children=".path-schedule"><%= t('schedule_form.categories.property_insurance') %></option>
          <option value="phone" children=".path-schedule"><%= t('schedule_form.categories.phone') %></option>
          <option value="internet" children=".path-schedule"><%= t('schedule_form.categories.internet') %></option>
          <option value="subscription" children=".path-schedule"><%= t('schedule_form.categories.subscriptions') %></option>
          <option value="tv" children=".path-schedule"><%= t('schedule_form.categories.cable') %></option>
          <option value="lending" children=".path-schedule"><%= t('schedule_form.categories.debt_payments') %></option>
          <option value="other" children=".path-schedule, .path-other-category"><%= t('schedule_form.categories.other') %></option>
        </select>

        <div class="children py-2">
          <div class="hidden path-other-category">
            <input type="text" name="category_name" class="form-control" placeholder="<%= t('placeholders.fixed_expense') %>">
          </div>

          <div class="hidden path-schedule py-2">

      <% end %>
  <% end %>

  <p><%= t('schedule_form.sentence.every') %></p>
  <input type="number" class="form-control pos_n" id="periodNum<%= suff %>" value="1" step="1" name="periodNum<%= suff %>">
  <select name="period<%= suff %>" class="form-control">
    <option value="months" children=".path-months, .path-amount"><%= t('schedule_form.sentence.months') %></option>
    <option value="weeks" children=".path-weeks, .path-amount"><%= t('schedule_form.sentence.weeks') %></option>
    <option value="days" children=".path-days, .path-amount"><%= t('schedule_form.sentence.days') %></option>
  </select>


  <div class="children">
    <div class="hidden ignore-ladder path-months path-weeks path-days" id="start_date">
      <p><%= t('schedule_form.sentence.starting_on') %></p>
      <input name="start_date<%= suff %>" class="form-control datepicker">
    </div>
    <div class="path-months">
      <p><%= t('schedule_form.sentence.on_the') %></p>
      <select name="month_day<%= suff %>" class="form-control" id="month_day<%= suff %>">
        <option value="1"><%= t('schedule_form.sentence.first') %></option>
        <option value="last"><%= t('schedule_form.sentence.last') %></option>
        <option value="2">2nd</option>
        <option value="3">3rd</option>
        <option value="4">4th</option>
        <option value="5">5th</option>
        <option value="6">6th</option>
        <option value="7">7th</option>
        <option value="8">8th</option>
        <option value="9">9th</option>
        <option value="10">10th</option>
        <option value="11">11th</option>
        <option value="12">12th</option>
        <option value="13">13th</option>
        <option value="14">14th</option>
        <option value="15">15th</option>
        <option value="16">16th</option>
        <option value="17">17th</option>
        <option value="18">18th</option>
        <option value="19">19th</option>
        <option value="20">20th</option>
        <option value="21">21st</option>
        <option value="22">22nd</option>
        <option value="23">23rd</option>
        <option value="24">24th</option>
        <option value="25">25th</option>
        <option value="26">26th</option>
        <option value="27">27th</option>
        <option value="28">28th</option>
      </select>
      <select name="month_day2<%= suff %>" class="form-control" id="month_day2<%= suff %>">
        <option value="day" children=".path-months-except-wday, .path-amount"><%= t('schedule.weekdays.day') %></option>
        <option value="sun" children=""><%= t('schedule.weekdays.sunday') %></option>
        <option value="mon" selected children=""><%= t('schedule.weekdays.monday') %></option>
        <option value="tue" children=""><%= t('schedule.weekdays.tuesday') %></option>
        <option value="wed" children=""><%= t('schedule.weekdays.wednesday') %></option>
        <option value="thu" children=""><%= t('schedule.weekdays.thursday') %></option>
        <option value="fri" children=""><%= t('schedule.weekdays.friday') %></option>
        <option value="sat" children=""><%= t('schedule.weekdays.saturday') %></option>
      </select>

      <div class="children">
        <div class="hidden path-months-except-wday">
          <select name="month_exclude_wday<%= suff %>" class="form-control">
            <option value="none" children=".path-amount"><%= t('schedule.weekdays.without_exceptions') %></option>
            <option value="weekends" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.weekends') %></option>
            <option value="except-sun" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.sundays') %></option>
            <option value="except-mon" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.mondays') %></option>
            <option value="except-tue" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.tuesdays') %></option>
            <option value="except-wed" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.wednesdays') %></option>
            <option value="except-thu" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.thursdays') %></option>
            <option value="except-fri" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.fridays') %></option>
            <option value="except-sat" children=".path-months-except-met, .path-amount"><%= t('schedule.weekdays.except_on') %> <%= t('schedule_form.sentence.saturdays') %></option>
          </select>

          <div class="children py-2">
            <div class="hidden path-months-except-met">
              <p><%= t('schedule_form.sentence.then') %> <%= type == "income" ? t('schedule_form.sentence.i_get_paid') : t('schedule_form.sentence.run') %> <%= t('schedule_form.sentence.on_the') %></p>
              <select name="month_exclude_met<%= suff %>" class="form-control">
                <option value="previous"><%= t('schedule_form.sentence.previous') %></option>
                <option value="next"><%= t('schedule_form.sentence.next') %></option>
              </select>
              <select name="month_exclude_met_day<%= suff %>" class="form-control">
                <option value="sun">Sunday</option>
                <option value="mon">Monday</option>
                <option value="tue">Tuesday</option>
                <option value="wed">Wednesday</option>
                <option value="thu">Thursday</option>
                <option value="fri" selected="selected">Friday</option>
                <option value="sat">Saturday</option>
              </select>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="hidden path-weeks">
      <p>on</p>
      <select name="week_day<%= suff %>" class="form-control">
        <option disabled selected value> -- </option>
        <option value="sun"><%= t('schedule.weekdays.sunday') %></option>
        <option value="mon"><%= t('schedule.weekdays.monday') %></option>
        <option value="tue"><%= t('schedule.weekdays.tuesday') %></option>
        <option value="wed"><%= t('schedule.weekdays.wednesday') %></option>
        <option value="thu"><%= t('schedule.weekdays.thursday') %></option>
        <option value="fri"><%= t('schedule.weekdays.friday') %></option>
        <option value="sat"><%= t('schedule.weekdays.saturday') %></option>
      </select>
    </div>

    <% if type == "income" || type == "fixed_expense" %>
      <div class="path-amount py-2">
        <%= hint(t('hints.fixed_amount.title'), t('hints.fixed_amount.body')) %>
        <select name="fixed_amount<%= suff %>" class="form-control">
          <option value="fixed" children=".path-fixed-amount"><%= t('schedule_form.sentence.fixed_amount') %></option>
          <option value="varied" children=".path-varied-amount"><%= t('schedule_form.sentence.amount_varies') %></option>
        </select>

        <div class="children py-2">

          <div class="path-fixed-amount">
            <%= select_tag "currency#{suff}", options_for_select(all_currencies(Money::Currency.table), :selected => current_user.currency), {:class => "form-control currency"} %>
            <input type="number" step="any" class="form-control" placeholder="<%= t('placeholders.amount') %>" name="amount<%= suff %>"><br />
            <%= select_tag "account#{suff}", options_for_select(user_accounts_array),{:class => "form-control account_select my-2"} %>
          </div>
          <div class="hidden path-varied-amount">
            <%= select_tag "currency#{suff}", options_for_select(all_currencies(Money::Currency.table), :selected => current_user.currency), {:class => "form-control currency"} %>
            <input type="number" step="any" class="form-control" placeholder="<%= t('placeholders.average_amount') %>" name="average_amount<%= suff %>"><br />
            <%= select_tag "account_average#{suff}", options_for_select(user_accounts_array),{:class => "form-control account_select my-2"} %>
          </div>
          
        </div>

      </div>

    <% end %>
  </div>

  <% if type != "income" %>
    </div>
  <% end %>

  <% if type == "fixed_expense" %>
      </div>
    </div>
  <% end %>

</div>

<script>
  $("[id^=month_day]").change(function(){
    let n = parseInt($(this).val(), 10);
    if (Number.isNaN(n)) {
      n = 1
    }

    if (n > 4) {
      $(this).next().val("day");
      $(this).next().find("option").slice(2).attr("disabled", "disabled");
      showHideFields($(this).next());
    } else {
      $(this).next().find("option").slice(2).removeAttr('disabled');
      showHideFields($(this).next());
    }
  });

  // changes the currency selection to the account's currency
  $("#simple_schedule_form [id^=account]").change(function(){
    let name = $(this).find("option:selected").text();
    let nameArr = name.split(" ");
    let currency = nameArr[nameArr.length - 1];
    currency = currency.replace("(", "");
    currency = currency.replace(")", "");
    $(this).parent().parent().find("[id^=currency]").each(function(){
      if($(this).attr("changed") === undefined) {
        $(this).val(currency);
      }
    });
  });

  $("#simple_schedule_form [id^=currency]").change(function(){
    let value = $(this).val();

    $(this).parent().parent().find("[id^=currency]").each(function(){
      $(this).attr("changed", "changed");
      $(this).val(value);
    });
  });

  $("[id^=periodNum").change(function(){
    let n = parseInt($(this).val(), 10);
    if (Number.isNaN(n)) {
      n = 1;
    }

    if (n < 1) {
      n = 1;
      $(this).val(1);
    }

    if (n == 1) {
      $(this).parents("#simple_schedule_form").find("[id^=start_date]").slideUp("fast");
    } else {
      $(this).parents("#simple_schedule_form").find("[id^=start_date]").slideDown("fast");
    }
  });


</script>