<%
  schedule_id = 0
  schedule_id = transaction.schedule.hash_id unless transaction.schedule.nil?
%>

<div class="card-header" id="heading<%= transaction.hash_id %>">
  <a class="btn btn-link collapsed col-12 clickable" data-toggle="collapse" data-target="#collapse<%= transaction.hash_id %>" aria-expanded="true" aria-controls="collapse<%= transaction.hash_id %>">
    <span class="float-left">
      <%= fa_icon transaction.category.symbol, class: "rounded-circle category", :style => 'background-color: ' + transaction.category.decorate.color + '; padding: 5px;' %>
      <%= transaction.description %>
    </span>
    <span class="float-right">
      <%= balance(transaction.amount.to_f.abs, Money::Currency.new(transaction.currency), "cents") %>
    </span>
  </a>

</div>

<div id="collapse<%= transaction.hash_id %>" class="collapse card-scheduled-transaction" aria-labelledby="heading<%= transaction.hash_id %>" data-parent="#accordion">
  <div class="card-body">

    <div class="container" id="transaction_<%= transaction.hash_id %>">
      <%= form_with(model: transaction, url: edit_scheduled_transaction_path(transaction.hash_id), :method => "patch") do |f| %>

        <%= render partial: "transactions/transaction_form_fields", :locals => {:transaction => transaction, :f => f, :base_only => true, :form_id_prefix => "schedule_", :form_id_suffix => "_" + transaction.hash_id, :schedule_id => schedule_id } %>
        
        <div class="col-12 py-5">
          <%= f.button t('views.schedules.transactions_menu.update.text'), :class => 'float-right btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " #{t('views.schedules.transactions_menu.update.action')} ..."} %>
          <button type="button" class="btn btn-danger delete-confirm" confirm-message="<%= t('views.schedules.transactions_menu.delete.warning') %>" data-link="<%= delete_transaction_path(transaction) %>"><%= t('views.schedules.transactions_menu.delete.text') %></button>
        </div>
      <% end %>
    </div>

  </div>
</div>