<% transaction_id = transaction.schedule.id.to_s + transaction.id.to_s + transaction.schedule_period_id.to_s %>

<tr>
	<td><!-- date -->
		<%= User.format_date(transaction.local_datetime) %>
	</td>
	<td><!-- schedule -->
		<%= transaction.schedule.name %>
	</td>
	<td><!-- description -->
		<%= transaction.description %>
	</td>
	<td><!-- amount -->
		<%= balance(transaction.amount, transaction.currency) %>
	</td>
	<td>
		<div class="dropdown show">
			<a href="#" role="button" id="contextMenuLink_<%= transaction_id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-ellipsis-v clickable fa-lg"></i>
			</a>

			<div class="dropdown-menu dropdown-menu-right dropshadow-light" aria-labelledby="contextMenuLink_<%= transaction_id %>" style="width: 175px;">
				<ul class="list-unstyled">
					<li class="nav-item"><a href="#">Edit occurrence</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Edit series</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Cancel occurrence</a></li>
					<li class="nav-item"><a href="#" class="nav-link">Trigger now</a></li>
				</ul>
			</div>
		</div>
	</td>
</tr>