<%= @dates %>
<div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group-weekdays">
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-mon">
    <%= f.check_box (id_prefix + "_mon").to_sym %>
    <span class="d-none d-sm-block">Mon</span>
    <span class="d-block d-sm-none">M</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-tue">
    <%= f.check_box (id_prefix + "_tue").to_sym %>
    <span class="d-none d-sm-block">Tue</span>
    <span class="d-block d-sm-none">T</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-wed">
    <%= f.check_box (id_prefix + "_wed").to_sym %>
    <span class="d-none d-sm-block">Wed</span>
    <span class="d-block d-sm-none">W</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-thu">
    <%= f.check_box (id_prefix + "_thu").to_sym %>
    <span class="d-none d-sm-block">Thu</span>
    <span class="d-block d-sm-none">T</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-fri">
    <%= f.check_box (id_prefix + "_fri").to_sym %>
    <span class="d-none d-sm-block">Fri</span>
    <span class="d-block d-sm-none">F</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-sat">
    <%= f.check_box (id_prefix + "_sat").to_sym %>
    <span class="d-none d-sm-block">Sat</span>
    <span class="d-block d-sm-none">S</span>
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-sun">
    <%= f.check_box (id_prefix + "_sun").to_sym %>
    <span class="d-none d-sm-block">Sun</span>
    <span class="d-block d-sm-none">S</span>
  </label>
</div>