<div class="btn-groups btn-group-toggle" data-toggle="buttons" id="button-group-weekdays">
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-mon">
    <%= f.check_box (id_prefix + "-mon").to_sym %>Mon
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-tue">
    <%= f.check_box (id_prefix + "-tue").to_sym %>Tue
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-wed">
    <%= f.check_box (id_prefix + "-wed").to_sym %>Wed
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-thu">
    <%= f.check_box (id_prefix + "-thu").to_sym %>Thu
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-fri">
    <%= f.check_box (id_prefix + "-fri").to_sym %>Fri
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-sat">
    <%= f.check_box (id_prefix + "-sat").to_sym %>Sat
  </label>
  <label class="btn btn-secondary py-3" id="<%= id_prefix %>-sun">
    <%= f.check_box (id_prefix + "-sun").to_sym %>Sun
  </label>
</div>