<%= render 'schedule_menu' %>
<%= render 'schedule_edit_menu' %>
<%= render 'schedule_transactions_menu' %>
<%= render 'schedule_pause_menu' %>

<div class="container" id="schedules_tables">
  <div class="row">
    <div class="col-12">

      <h2>
        <%= t('pages.schedule.title') %>
        <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#scheduleform" id="new-schedule-button" onclick="renderScheduleMenu();">
          <%= t('buttons.new_schedule.text') %>
        </button>
      </h2>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('schedule.active') %></h3>
      <div id="active-schedules">
        <% if @schedules.length == 0 %>
          <p>
            <%= t('schedules.no_active_schedules') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => true %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('schedule.paused') %></h3>
      <div id="paused-schedules">
        <% if @paused_schedules.length == 0 %>
          <p>
            <%= t('schedules.no_paused_schedules') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => true, :paused => true %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('schedule.inactive') %></h3>
      <div id="inactive-schedules">
        <% if @inactive_schedules.length == 0 %>
          <p>
            <%= t('schedules.no_inactive_schedules') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => false %>
        <% end %>
      </div>

    </div>
  </div>
</div>
