<%= content_for :meta_title, t('views.schedules.index.title') %>

<%
  if @main_schedule.length > 0
    main_button_style = "display: none;"
  else
    main_button_style = "display: block;"
  end
%>

<%= render 'schedule_menu' %>
<%= render 'schedule_edit_menu' %>
<%= render 'schedule_transactions_menu' %>
<%= render 'schedule_pause_menu' %>
<%= render 'schedule_main_income_menu' %>

<div class="container" id="schedules_tables">
  <div class="row">
    <div class="col-12">

      <h2>
        <%= t('views.schedules.index.title') %>
        <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#scheduleform" id="new-schedule-button" onclick="renderScheduleMenu();">
          <%= t('views.schedules.index.new') %>
        </button>
      </h2>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3 style="display: inline;"><%= t('views.schedules.index.sections.main.title') %></h3> <span><%= hint(t('views.schedules.index.sections.main.hint.title'), t('views.schedules.index.sections.main.hint.body')) %></span><br />
      <div id="main-schedules" class="mt-2 schedules-table-parent">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#scheduleincomeform" id="new-income-schedule-button" onclick="renderIncomeScheduleMenu();" style="<%= main_button_style %>">
          <%= t('views.schedules.index.sections.main.none') %>
        </button>
        <% if @main_schedule.length > 0 %>
          <%= render 'schedules_table', :active => true, :main => true %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('views.schedules.index.sections.active.title') %></h3>
      <div class="schedules-table-parent" id="active-schedules">
        <% if @schedules.length == 0 %>
          <p>
            <%= t('views.schedules.index.sections.active.none') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => true %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('views.schedules.index.sections.paused.title') %></h3>
      <div id="paused-schedules" class="schedules-table-parent">
        <% if @paused_schedules.length == 0 %>
          <p>
            <%= t('views.schedules.index.sections.paused.none') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => true, :paused => true %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">

      <h3><%= t('views.schedules.index.sections.inactive.title') %></h3>
      <div id="inactive-schedules" class="schedules-table-parent">
        <% if @inactive_schedules.length == 0 %>
          <p>
            <%= t('views.schedules.index.sections.inactive.none') %>
          </p>
        <% else %>
          <%= render 'schedules_table', :active => false %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>

  function activateSchedule(scheduleId) {
    var schedules = 0;

    var active_schedules = $("#schedules_active tr").length
    var paused_schedules = $("#schedules_paused tr").length

    if (active_schedules > 0){
      active_schedules -= 1;
    }
    if (paused_schedules > 0){
      paused_schedules -= 1;
    }

    schedules = active_schedules + paused_schedules

    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/v1/users/subscription",
      success(data){
        if(schedules >= data.max_schedules && data.max_schedules >= 0) {
          triggerNotice("<%= t('views.schedules.index.failures.upgrade') %>", true);
        } else {
          $.ajax({
            type: "PATCH",
            url: "/api/v1/schedules/" + scheduleId.toString() + "/activate",
            success(data) {
              $.getScript("api/v1/render/swap_schedules_table/" + scheduleId.toString() + "/inactive");
            }
          });
        }
      }
    })
  }

</script>