<h2>Schedules</h2>

<%= render 'schedule_menu' %>
<%= render 'schedule_edit_menu' %>
<%= render 'schedule_transactions_menu' %>
<%= render 'schedule_pause_menu' %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scheduleform" id="new-schedule-button" onclick="renderScheduleMenu();">
  New Schedule
</button>

<h3>Active Schedules</h3>
<div id="active-schedules">
  <ul>
    <% if @schedules.length == 0 %>
      <p>
        <%= I18n.t('schedules.no_active_schedules') %>
      </p>
    <% else %>
      <%= render 'schedules_table', :active => true %>
    <% end %>
  </ul>
</div>

<h3>Paused Schedules</h3>
<div id="active-schedules">
  <ul>
    <% if @paused_schedules.length == 0 %>
      <p>
        <%= I18n.t('schedules.no_paused_schedules') %>
      </p>
    <% else %>
      <%= render 'schedules_table', :active => true, :paused => true %>
    <% end %>
  </ul>
</div>

<h3>Inactive Schedules</h3>
<div id="inactive-schedules">
  <ul>
    <% if @inactive_schedules.length == 0 %>
      <p>
        <%= I18n.t('schedules.no_inactive_schedules') %>
      </p>
    <% else %>
      <%= render 'schedules_table', :active => false %>
    <% end %>
  </ul>
</div>