<%#= link_to t('buttons.sign_up.text'), new_user_registration_path %>
<%#= link_to t('buttons.sign_in.text'), new_user_session_path %>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-12">
			  <h1 class="display-4"><%= t('homepage.welcome_h1') %></h1>
			  <p class="lead">Your all-in-one friendly finance manager that helps you keep up to date with your budget and expenses.</p>
			  <hr class="my-4">
			  <p>Give your money the attention it deserves.</p>
			  <a class="btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Sign up for your free account today</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 col-xl-3 col-lg-4 col-md-6">
			<div class="card" style="width: 100%">
			  <%= image_tag "landing_page/expenses.png", class: "card-img-top" %>
			  <div class="card-body">
			    <h5 class="card-title">Track your expenses</h5>
			    <p class="card-text">Recording your transactions is easy and quick.</p>
			    <a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up for free</a>
			  </div>
			</div>
		</div>

		<div class="col-12 col-xl-3 col-lg-4 col-md-6">
			<div class="card" style="width: 100%">
			  <%= image_tag "landing_page/schedules.png", class: "card-img-top" %>
			  <div class="card-body">
			    <h5 class="card-title">Stay on top of bills</h5>
			    <p class="card-text">Never miss or be surprised by bills ever again!</p>
			    <a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up for free</a>
			  </div>
			</div>
		</div>

		<div class="col-12 col-xl-3 col-lg-4 col-md-6">
			<div class="card" style="width: 100%">
			  <%= image_tag "landing_page/chart.png", class: "card-img-top" %>
			  <div class="card-body">
			    <h5 class="card-title">See where your money is going</h5>
			    <p class="card-text">Gain valuable insights on how you are spending your money.</p>
			    <a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up for free</a>
			  </div>
			</div>
		</div>

		<div class="col-12 col-xl-3 col-lg-4 col-md-6">
			<div class="card" style="width: 100%">
			  <%= image_tag "landing_page/budget.png", class: "card-img-top" %>
			  <div class="card-body">
			    <h5 class="card-title">Always know how much you can spend</h5>
			    <p class="card-text">The daily budget shows you how much you can spend today.</p>
			    <a href="<%= new_user_registration_path %>" class="btn btn-primary">Sign up for free</a>
			  </div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-12 mb-5">
			
		</div>
	</div>
</div>
