<%= content_for :meta_title, "Welcome" %>
<%= content_for :meta_robots, "index, follow" %>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-12">
			  <h1 class="display-4"><%= t('homepage.welcome_h1') %></h1>
			  <p class="lead">Your all-in-one friendly finance manager that helps you keep up to date with your budget and expenses.</p>
			  <hr class="my-4">
			  <p>Give your money the attention it deserves.</p>
			  <a class="sign_up_button btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Sign up for your free account today</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	
	<div class="row py-5">
		<div class="col-12 col-md-7 col-lg-6 col-xl-5">
			<%= image_tag "landing_page/expenses.png", "style" => "max-width: 100%;" %>
		</div>
		<div class="col-12 col-md-5 col-lg-6 col-xl-7">
			<h2>
				Track your expenses
			</h2>
			<p>
				Recording your transactions is easy and quick.
			</p>
			<a class="sign_up_button btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Create your free account</a>
		</div>
	</div>

	<hr />

	<div class="row py-5">
		<div class="col-12 col-md-5 col-lg-6 col-xl-7">
			<h2>
				Stay on top of bills
			</h2>
			<p>
				Never miss or be surprised by bills ever again!
			</p>
			<a class="sign_up_button btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Sign up</a>
		</div>
		<div class="col-12 col-md-7 col-lg-6 col-xl-5">
			<%= image_tag "landing_page/schedules.png", "style" => "max-width: 100%;" %>
		</div>
	</div>

	<hr />

	<div class="row py-5">
		<div class="col-12 col-md-7 col-lg-6 col-xl-5">
			<%= image_tag "landing_page/chart.png", "style" => "max-width: 100%;" %>
		</div>
		<div class="col-12 col-md-5 col-lg-6 col-xl-7">
			<h2>
				See where your money is going
			</h2>
			<p>
				Gain valuable insights on how you are spending your money.
			</p>
			<a class="sign_up_button btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Sign up here</a>
		</div>
	</div>

	<hr />

	<div class="row py-5">
		<div class="col-12 col-md-5 col-lg-6 col-xl-7">
			<h2>
				Always know how much you can spend
			</h2>
			<p>
				The daily budget shows you how much you can spend today.
			</p>
			<a class="sign_up_button btn btn-lg btn-primary" href="<%= new_user_registration_path %>" role="button">Sign up for free</a>
		</div>
		<div class="col-12 col-md-7 col-lg-6 col-xl-5">
			<%= image_tag "landing_page/budget.png", "style" => "max-width: 100%;" %>
		</div>
	</div>

	<div class="row">
		<div class="col-12 mb-5">
			
		</div>
	</div>

</div>
