<%# if sch_transaction.transfer_transaction_id == nil || (sch_transaction.transfer_transaction_id != nil && sch_transaction.direction == -1) %>
  <div class="card">

    <div class="card-header" id="heading<%= sch_transaction.id %>">
      <a class="btn btn-link collapsed col-12 clickable" data-toggle="collapse" data-target="#collapse<%= sch_transaction.id %>" aria-expanded="true" aria-controls="collapse<%= sch_transaction.id %>">
        <span class="float-left">
          <%= image_tag "categories/" + sch_transaction.category.symbol + ".svg",
            :style => "background-color: hsl(" + sch_transaction.category.color + ");",
            :class => "rounded-circle",
            "height" => "30" %>
          <%= sch_transaction.description %>
        </span>
        <span class="float-right">
          <%= balance(sch_transaction.amount.to_f.abs, Money::Currency.new(sch_transaction.currency), "cents") %>
        </span>
      </a>
    </div>
    
    <div id="collapse<%= sch_transaction.id %>" class="collapse" aria-labelledby="heading<%= sch_transaction.id %>" data-parent="#accordion">
      <div class="card-body">
        <%= render partial: "sch_transactions/sch_transaction_form", :locals => {:sch_transaction => sch_transaction} %>
      </div>
    </div>

  </div>
<%# end %>