<% sch_transaction ||= current_user.sch_transactions.new.decorate %>
<%# sch_transaction.direction = -1 %>
<%
  sch_transaction.amount ||= 0
  sch_transaction.currency ||= current_user.currency

  transaction_type = "expense"
  type_bg_color = "bg-danger"
  expense_class = ""
  income_class = ""
  transfer_class = ""
  from_account_name = ""
  to_account_name = ""
  single_account_style = ""
  transfer_account_style = ""
  single_amount_style = ""
  multiple_amount_style = ""

  if sch_transaction.persisted?
    from_account_name = sch_transaction.account.name
    to_account_name = from_account_name
    if sch_transaction.transfer_account_id
      to_account_name = current_user.accounts.find(sch_transaction.transfer_account_id).name
    end
  else
    from_account_name = Account.get_accounts(current_user)[0].name
    to_account_name = from_account_name
  end

  currency_style = ""
  if sch_transaction.transfer_transaction_id
    transaction_type = "transfer"
    type_bg_color = "bg-warning"
    transfer_class = "active"
    single_account_style = "display: none;"
    transfer_account_style = ""
    currency_style = "display: none;"
  elsif sch_transaction.amount > 0
    transaction_type = "income"
    type_bg_color = "bg-success"
    income_class = "active"
    single_account_style = ""
    transfer_account_style = "display: none;"
  else
    expense_class = "active"
    single_account_style = ""
    transfer_account_style = "display: none;"
  end

  multiple_class = ""
  single_class = ""
  if sch_transaction.children.length > 0
    multiple_class = "active"
    single_class = ""
    single_amount_style = "display: none;"
    multiple_amount_style = ""
  else
    multiple_class = ""
    single_class = "active"
    single_amount_style = ""
    multiple_amount_style = "display: none;"
  end
%>
<%#= form_for sch_transaction, url: {action: "create"} do |f| %>
<%= form_for sch_transaction do |f| %>
  <%= f.hidden_field :id, value: sch_transaction.id %>
  <div class="container" id="sch_transaction_<%= sch_transaction.id %>">

    <div class="row">

      <div class="col-12 col-lg-6 col-xl-7 px-2 px-sm-5 border-right">

        <div class="row py-2">
          <div class="col-12 py-5 <%= type_bg_color %> rounded" id="type">
          
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
              <label class="btn btn-outline-light py-3 <%= expense_class %>" id="type-expense" onclick="changeTransactionType('expense', this)">
                <%= f.radio_button :type, "expense", :checked => (transaction_type == "expense") %>Expense
              </label>
              <label class="btn btn-outline-light py-3 <%= income_class %>" id="type-income" onclick="changeTransactionType('income', this)">
                <%= f.radio_button :type, "income", :checked => (transaction_type == "income") %>Income
              </label>
              <label class="btn btn-outline-light py-3 <%= transfer_class %>" id="type-transfer" onclick="changeTransactionType('transfer', this)">
                <%= f.radio_button :type, "transfer", :checked => (transaction_type == "transfer") %>Transfer
              </label>
            </div>

          </div>
        </div>

        <div class="row py-2">
          <div class="col-12 py-2">
            <%= f.label :description %><br />
            <%= f.text_field :description, class: 'transactionmenu__description form-control', 'default_value' => '' %>
          </div>
        </div>

        <div class="row py-3" id="single-account" style="<%= single_account_style %>">
          <div class="col-12 py-2">
            <%= f.label :account %><br />
            <%= f.select(:account, user_accounts_array, {:selected => from_account_name}, { :class=> "form-control", "onchange" => "changeTransactionAccount(this, '#sch_transaction_currency')", :selected => from_account_name }) %>
          </div>
        </div>

        <div class="row py-3" id="transfer-account" style="<%= transfer_account_style %>">
          <div class="col-12 col-lg-6 py-2">
            <%= f.label :from_account %><br />
            <%= f.select(:from_account, user_accounts_array, {:selected => from_account_name}, { :class => 'form-control', 'onchange' => 'changeTransactionAccount(this, "#sch_transaction_currency")' }) %>
          </div>

          <div class="col-12 col-lg-6 py-2">
            <%= f.label :to_account %><br />
            <%= f.select(:to_account, user_accounts_array, {:selected => to_account_name}, { :class => 'form-control' }) %>
          </div>
        </div>

        <div class="row py-3 default-show" id="categories" style="<%= single_account_style %>">

          <div class="col-12 py-2">
            <%= f.label :category %><br />
            <%= render partial: "shared/custom_dropdown_categories", locals: {
              selected: Category.get_user_categories(current_user, true)[0],
              options: Category.get_user_categories(current_user, true),
              input_target: "#edit_sch_transaction_" + sch_transaction.id.to_s + "_category_id",
              button_type: 'btn-outline-dark',
              id_suff: "_" + sch_transaction.id.to_s
            } %>
            
            <% categories = Category.get_user_categories(current_user, true) %>
            <%= f.hidden_field :category_id, :id => "edit_sch_transaction_" + sch_transaction.id.to_s + "_category_id_" + sch_transaction.id.to_s %>
          </div>

        </div>

      </div>

      <div class="col-12 col-lg-6 col-xl-5">

        <div class="row py-2">
          <div class="col-12 py-5">

            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
              <label class="btn btn-secondary <%= single_class %> py-3" onclick="changeTransactionMultiple('single', this)" id="multiple-single">
                <%= f.radio_button :multiple, 'single', :checked => (sch_transaction.children.length == 0) %>Single
              </label>
              <label class="btn btn-secondary <%= multiple_class %> py-3" onclick="changeTransactionMultiple('multiple', this)" id="multiple-multiple">
                <%= f.radio_button :multiple, 'multiple', :checked => (sch_transaction.children.length > 0) %>Multiple
              </label>
            </div>

          </div>
        </div>

        <div class="row py-3" id="transaction-currency-options" style="<%= currency_style %>">
          <div class="col-12">
            <%= f.label :currency %><br />
            <%= f.select(:currency, all_currencies(Money::Currency.table), {}, { :class => 'form-control' }) %>
          </div>
        </div>

        <div class="row py-3" id="amount" style="<%= single_amount_style %>">
          <div class="col-12">
            <%= f.label :amount %><br />
            <%= f.number_field :amount, placeholder: "99.87", class: 'accountmenu__balance form-control', step: :any, value: sch_transaction.amount_single %>
          </div>
        </div>

        <div class="row py-3" id="transactions" style="<%= multiple_amount_style %>">
          <div class="col-12">
            <%= f.label :transactions %><br />
            <%= f.text_area :transactions, placeholder: "Milk 2.39\nApples 1.87\nBrocolli 3.09", class: 'accountmenu__description form-control', value: sch_transaction.amount_multiple %>
          </div>
        </div>

      </div>

      <div class="col-12">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
      </div>

    </div>

  </div>
<% end %>