<%= content_for :meta_title, t('views.errors.server.title') %>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>
				<%= t('views.errors.server.title') %>
			</h1>
			<h3>
				<%= t('views.errors.server.sub_title') %>
			</h3>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-12">
			<p>
				<%= t('views.errors.reason') %>
			</p>
			<ul>
				<li>
					<%= t('views.errors.server.reasons.one') %>
				</li>
				<li>
					<%= t('views.errors.server.reasons.two') %>
				</li>
				<li>
					<%= t('views.errors.server.reasons.three') %>
				</li>
				<li>
					<%= t('views.errors.server.reasons.four') %>
				</li>
			</ul>
		</div>
	</div>

	<div class="row py-2">
		<div class="col-12">
			<a href="/" role="button" class="btn btn-primary">
				<%= t('views.errors.return') %>
			</a>
		</div>
	</div>
</div>