<%= content_for :meta_title, "Plans" %>
<%= content_for :meta_robots, "index, follow" %>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>
				<%= t('pages.plans.title') %>
			</h2>
		</div>
	</div>

	<div class="row mt-4 px-3">

		<%= render partial: "subscriptions/plan_card", :locals => { 
			:plan => 'free',
			:price => 0,
			:currency => @plan.currency,
		} %>

		<%= render partial: "subscriptions/plan_card", :locals => { 
			:plan => 'monthly',
			:price => @plan.price_month,
			:currency => @plan.currency,
		} %>

		<%= render partial: "subscriptions/plan_card", :locals => { 
			:plan => 'yearly',
			:price => @plan.price_year / 12,
			:currency => @plan.currency,
		} %>

	</div>

	<div class="row mt-5">
		<div class="col-12">
			<%= t('pages.plans.currency_message').sub('@currency@', @plan.currency).sub('@currency_name@', Money::Currency.new(@plan.currency).name) %>
		</div>
	</div>

</div>