<% prefix = Money::Currency.new(current_user.currency).symbol %>

<div class="container">
  <div class="row py-2">
    <div class="col-12 col-xl-6 py-2">
      <%= line_chart(@history_data, title: t('charts.balance_history'), prefix: prefix) %>
    </div>
    <div class="col-12 col-xl-6 py-2">
      <%#= @category_data %>
      <%= pie_chart(@category_data[:root], title: t('categories.spend_name'), colors: @category_data[:root_colors], donut: true, prefix: prefix) %>
    </div>
  </div>

  <div class="row py-2">

    <div class="col-12 col-xl-6 py-2">
      <h3>Upcoming Transactions</h3>
      <% if @upcoming_transactions.length > 0 %>
        <ul class="list-unstyled">
          <% @upcoming_transactions[0...10].each do |ut| %>
            <a href="/upcoming_transactions" class="text-dark">
              <li class="py-2">
                <%= User.format_date(ut.local_datetime.to_date) %>
                <%= ut.description %>
                <span class="float-right">
                  <%= balance(ut.amount, ut.currency, "cents") %>
                </span>
              </li>
            </a>
          <% end %>
        </ul>
      <% else %>
        <p class="py-2">
          <%= link_to "No upcoming transactions", schedules_path, class: "text-dark" %>
        </p>
      <% end %>
    </div>

    <div class="col-12 col-xl-6 py-2">
      <h3>Recent Transactions</h3>
      <% if current_user.transactions.where(is_main: true, is_scheduled: false, is_queued: false, is_cancelled: false).length > 0 %>
        <ul class="list-unstyled">
          <% current_user.transactions.where(is_main: true, is_scheduled: false, is_queued: false, is_cancelled: false).order(:local_datetime).reverse_order[0...10].each do |t| %>
            <li class="py-2">
              <%= User.format_date(t.local_datetime.to_date) %>
              <%= t.description %>
              <span class="float-right">
                <%= balance(t.user_currency_amount, current_user.currency, "cents") %>
              </span>
            </li>
          <% end %>
        </ul>
      <% else %>

      <% end %>
    </div>

  </div>
</div>