<div class="modal fade" id="transactionform" tabindex="-1" role="dialog" aria-labelledby="transactionformLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionformLabel">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_with(model: Transaction.new) do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class="row">

              <div class="col-12 col-lg-6 col-xl-7 px-2 px-sm-5 border-right">

                <div class="row py-2">
                  <div class="col-12 py-5 bg-danger rounded" id="type">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                      <label class="btn btn-outline-light active py-3" onclick="changeTransactionType('expense')" id="type-expense">
                        <%= f.radio_button :type, 'expense' %>Expense
                      </label>
                      <label class="btn btn-outline-light py-3" onclick="changeTransactionType('income')" id="type-income">
                        <%= f.radio_button :type, 'income' %>Income
                      </label>
                      <label class="btn btn-outline-light py-3" onclick="changeTransactionType('transfer')" id="type-transfer">
                        <%= f.radio_button :type, 'transfer' %>Transfer
                      </label>
                    </div>

                  </div>

                </div>

                <div class="row py-2">

                  <div class="col-12 py-2">
                    <%= f.label :description %><br />
                    <%= f.text_field :description, class: 'transactionmenu__description form-control', 'default_value' => '' %>
                  </div>

                </div>

                <div class="row py-3 default-show" id="single-account">

                  <div class="col-12 py-2">
                    <%= f.label :account %><br />
                    <%= f.select(:account, user_accounts_array, {}, { :class => 'form-control', 'onchange' => 'changeTransactionAccount(this)' }) %>
                    <%= f.text_field :active_account, class: 'active_account', id: 'active_account_field' %>
                  </div>

                </div>

                <div class="row py-3 default-hide" id="transfer-account">

                  <div class="col-12 col-lg-6 py-2">
                    <%= f.label :from_account %><br />
                    <%= f.select(:from_account, user_accounts_array, {}, { :class => 'form-control', 'onchange' => 'changeTransactionAccount(this)' }) %>
                  </div>

                  <div class="col-12 col-lg-6 py-2">
                    <%= f.label :to_account %><br />
                    <%= f.select(:to_account, user_accounts_array, {}, { :class => 'form-control' }) %>
                  </div>

                </div>

                <div class="row py-3 default-show" id="categories">

                  <div class="col-12 py-2">
                    <%= f.label :category %><br />
                    <%= render partial: "shared/custom_dropdown_categories", locals: {
                      selected: Category.get_user_categories(current_user, true, true)[0],
                      options: Category.get_user_categories(current_user, true, true),
                      input_target: '#transactionform #transaction_category_id'
                    } %>
                    
                    <% categories = Category.get_user_categories(current_user, true, true) %>
                    <%= f.hidden_field :category_id, value: 0 %>
                  </div>

                </div>

              </div>

              <div class="col-12 col-lg-6 col-xl-5">

                <div class="row py-2">

                  <div class="col-12 py-5">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
                      <label class="btn btn-secondary active py-3" onclick="changeTransactionMultiple('single')" id="multiple-single">
                        <%= f.radio_button :multiple, 'single' %>Single
                      </label>
                      <label class="btn btn-secondary py-3" onclick="changeTransactionMultiple('multiple')" id="multiple-multiple">
                        <%= f.radio_button :multiple, 'multiple' %>Multiple
                      </label>
                    </div>

                  </div>

                </div>

                <div class="row py-2 border-bottom">
                  
                  <div class="col-12 col-xl-3 py-2">

                    <%= f.label :currency %><br />
                    <%= f.select(:currency, all_currencies(Money::Currency.table), {}, { :class => 'form-control', 'onchange' => 'changeTransactionCurrency(this)' }) %>

                  </div>

                  <div class="col-12 col-xl-9 py-2 default-hide" id="exchange_rate_spinner">
                    <%= image_tag 'ajax_spinner.svg', 'height' => '70', class: 'my-auto mx-auto' %>
                  </div>

                  <div class="col-5 col-xl-3 default-hide py-2" id="currency-rate">

                    <%= f.label :rate %><br />
                    <!--<input type="number" name="lname" class="form-control" step="any">-->
                    <%= f.number_field :rate, class: 'form-control', step: :any, 'default_value' => '1', 'onkeyup' => 'updateTransactionResult(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', \'#transactionform #transactions textarea\')', 'onchange' => 'updateTransactionResult(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', \'#transactionform #transactions textarea\')' %>

                  </div>

                  <div class="col-7 col-xl-6 default-hide py-2" id="currency-result">

                    <%= f.label :account_currency %><br />
                    <%= f.number_field :account_currency, class: 'accountmenu__balance form-control', step: :any, 'default_value' => '', 'onkeyup' => 'updateTransactionRate(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', \'#transactionform #transactions textarea\')', 'onchange' => 'updateTransactionRate(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', \'#transactionform #transactions textarea\')' %>

                  </div>
                  
                </div>

                <div class="row py-3 default-show" id="amount">

                  <div class="col-12 py-2">

                    <%= f.label :amount %><br />
                    <%= f.number_field :amount, placeholder: "99.87", class: 'accountmenu__balance form-control', step: :any, 'default_value' => '', 'onkeyup' => 'updateTransactionResult(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', false)', 'onchange' => 'updateTransactionResult(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #amount input\', false)' %>

                  </div>

                </div>

                <div class="row py-3 default-hide" id="transactions">

                  <div class="col-12 py-2">

                    <%= f.label :transactions %><br />
                    <%= f.text_area :transactions, placeholder: "Milk 2.39\nApples 1.87\nBrocolli 3.09", class: 'accountmenu__description form-control', 'default_value' => '', 'onkeyup' => 'updateTransactionResult(\'#transactionform #currency-rate input\', \'#transactionform #currency-result input\', \'#transactionform #transactions textarea\', true)' %>
                    <p id="transaction_total">Total: <span id="transactions-total">0</span></p>
                  </div>

                </div>

                <div class="row py-2">

                  <div class="col-6 py-2">

                    <%= f.label :date %>
                    <%= f.text_field :date, class: 'datepicker form-control' %>

                  </div>

                  <div class="col-6 py-2">

                    <%= f.label :time %>
                    <%= f.text_field :time, type: 'time', value:'now', class: 'form-control' %>
                    <%= f.hidden_field :timezone, id: 'timezone_input' %>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Transaction', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>