<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="row">
      <div class="col-12">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row py-2">
    <div class="col-6">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="col-6">
      <%= form.label :publish_on %>
      <%= form.text_field :date, class: 'datepicker form-control' %>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-9">
      <%= form.label :body %>
      <%= form.text_area :body, class: "form-control", "rows" => "20" %>
    </div>
    <div class="col-3">
      <%= form.label :formatting %>
      <ul class="list-unstyled">

        <li>
          <b>bold</b>
          <span class="float-right">
            *<i>text</i>*
          </span>
        </li>
        <li>
          <i>italic</i>
          <span class="float-right">
            **<i>text</i>**
          </span>
        </li>
        <li>
          <a href="#">link</a>
          <span class="float-right">
            [link text](/posts)
          </span>
        </li>
        <li>
          image
          <span class="float-right">
            ![alt text](/images/test.jpg)
          </span>
        </li>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% images = Dir.glob("public/images/*") %>
      <% images.each do |image| %>
        <div style="float: left; width: 150px; margin: 10px;">
          <%= image_tag "/images/#{image.split('/').last}", class: "clickable", style: 'width: 150px', "onclick" => "copyImage(this);" %><br />
          <input type="text" style="width: 150px;" value="![<%= image.split('/').last.split('.').first %>](<%= "/images/#{image.split('/').last}" %>)">
        </div>

      <% end %>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-12">
      <%= form.label :thumbnail %>
      <%= form.text_field :thumbnail, class: "form-control" %>
    </div>
  </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<script>
  function copyImage(obj) {
    var copyText = $(obj).parent().find("input");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
  }
</script>
