<%= content_for :meta_title, "Posts" %>
<%= content_for :meta_robots, "index, follow" %>
<%= content_for :meta_description, "Managing personal finances is hard. Living from paycheck to paycheck, or want a better grasp on your financial health? Check out our blog about managing money!" %>


<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h1>
        Blog
      </h1>
    </div>
  </div>

  <% if current_user && current_user.is_admin %>
    <div class="row">
      <div class="col-12">
        <%= link_to 'New Post', new_post_path %>
      </div>
    </div>
  <% end %>

  <% @featured_posts.each_with_index do |post, idx| %>
    <%= content_for "post_#{idx}" do %>
      <h2>
        <%= post.title %>
      </h2>
    <% end %>
    <%= content_for "post_style_#{idx}" do %>
      background-image: url(<%= asset_path "/images/#{post.thumbnail}" %>);
    <% end %>
    <%= content_for "post_link_#{idx}" do %>
      <%= post_path(post) %>
    <% end %>
  <% end %>

  <div id="featured-posts">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-8 py-1 px-1">
        <a href="<%= yield "post_link_0" %>">
          <div class="featured-post featured-post-main" style="<%= yield "post_style_0" %>">
            <%= yield "post_0" %>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="row">
          <div class="col-12 py-1 px-1">
            <a href="<%= yield "post_link_1" %>">
              <div class="featured-post featured-post-sub" style="<%= yield 'post_style_1' %>">
                <%= yield "post_1" %>
              </div>
            </a>
          </div>
          <div class="col-12 py-1 px-1">
            <a href="<%= yield "post_link_2" %>">
              <div class="featured-post featured-post-sub" style="<%= yield 'post_style_2' %>">
                <%= yield "post_2" %>
              </div>
            </a>
          </div>
          <div class="col-12 py-1 px-1">
            <a href="<%= yield "post_link_3" %>">
              <div class="featured-post featured-post-sub" style="<%= yield 'post_style_3' %>">
                <%= yield "post_3" %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% @featured_posts.each do |post| %>

    <div class="row my-5">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="height: 300px; background-color: green;">
        test image
      </div>

      <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        <h3>
          <%= post.title.html_safe %>
        </h3>
        <%= truncate(post.body.html_safe, :length => 500, :omission => "" , :escape => false) %>
      </div>
    </div>

  <% end %>

</div>