<%= content_for :meta_title, "Posts" %>
<%= content_for :meta_robots, "index, follow" %>
<%= content_for :meta_description, "Managing personal finances is hard. Living from paycheck to paycheck, or want a better grasp on your financial health? Check out our blog about managing money!" %>


<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h1>
        Blog
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if current_user && current_user.is_admin %>
        <%= link_to 'New Post', new_post_path %>
      <% end %>
    </div>
  </div>

  <% @posts.each do |post| %>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="height: 300px; background-color: green;">
        test image
      </div>

      <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        <h3>
          <%= post.title.html_safe %>
        </h3>
        <%= truncate(post.body.html_safe, :length => 500, :omission => "" , :escape => false) %>
      </div>
    </div>

  <% end %>

</div>