<%= content_for :meta_title, "Posts" %>
<%= content_for :meta_robots, "index, follow" %>
<%= content_for :meta_description, "Managing personal finances is hard. Living from paycheck to paycheck, or want a better grasp on your financial health? Check out our blog about managing money!" %>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.thumbnail %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h1>
        Blog
      </h1>
    </div>
  </div>

  <% @posts.each do |post| %>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4" style="height: 300px; background-color: green;">
        test image
      </div>

      <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        <h3>
          <%= post.title.html_safe %>
        </h3>
        <%= truncate(post.body.html_safe, :length => 500, :omission => "" , :escape => false) %>
      </div>
    </div>

  <% end %>

</div>