<%= content_for :meta_title, "#{@post.title}" %>
<%= content_for :meta_robots, "index, follow" %>
<%= content_for :meta_description, strip_tags(markdown(@post.body)).truncate(160) %>
<%= content_for :meta_keywords, @post.tags %>
<%= content_for :meta_image, "https://stishly.com/images/#{@post.thumbnail}" %>
<% content_for :meta_json_ld do %>
	<%= render partial: "posts/json_ld" %>
<% end %>

<div class="container" style="max-width: 800px;">
	<div class="row">
		<div class="col-12">
			<h1>
				<%= @post.title %>
			</h1>
			<p>
				<span class="float-right text-right mb-3 font-italic" style="color: #c9c9c9;">
					Bas Donker<br />
					Published on <%= @post.published_on.strftime("%d %b %Y") %>
					<% if @post.published_on != @post.updated_at.to_date %>
						| updated on <%= @post.updated_at.strftime("%d %b %Y") %>
					<% end %>
				</span>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div id="post-body">
				<%= markdown(@post.body) %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<% if current_user && current_user.is_admin %>
				<%= link_to 'Edit', edit_post_path(@post) %>
			<% end %>
			<%= link_to 'Back', posts_path %>
		</div>
	</div>

</div>
