<%= content_for :meta_title, "#{@post.title}" %>
<%= content_for :meta_robots, "index, follow" %>
<%= content_for :meta_description, @post.body.html_safe.truncate(160) %>
<%= content_for :meta_keywords, @post.tags %>
<% content_for :meta_json_ld do %>
	<%= render partial: "posts/json_ld" %>
<% end %>

<div class="container" style="max-width: 800px;">
	<div class="row">
		<div class="col-12">
			<h2>
				<%= @post.title %>
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div id="post-body">
				<%= markdown(@post.body) %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<% if current_user.is_admin == true %>
				<%= link_to 'Edit', edit_post_path(@post) %>
			<% end %>
			<%= link_to 'Back', posts_path %>
		</div>
	</div>

</div>
