<ul class="account_tab_menu">
  <li class="<%= 'active' if locals[:active_tab] == 'Transactions' %>"><%= link_to 'Transactions', account_path if @active_account.is_real %></li>
  <li class="<%= 'active' if locals[:active_tab] == 'Transactions' %>"><%= link_to 'Transactions', root_path + "account" if !@active_account.is_real %></li>
  <li class="<%= 'active' if locals[:active_tab] == 'Settings' %>"><%= link_to 'Settings', account_settings_path if @active_account.is_real %></li>
  <li class="<%= 'active' if locals[:active_tab] == 'Overview' %>"><a href="#">Overview</a></li>
</ul>