<div id="transactionmenu" class="card-form">
  <h2 class="card-form__title">Create New Transaction<span class="card-form__close"></span></h2>

  <%= form_for :transaction, :url => url_for(:controller => 'transaction', :action => 'create') do |f| %>
    <div class="card-form__form-row">
      <div class="card-form__form-col col-ten">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'accountmenu__description' %>
      </div>
    </div>

    <div class="card-form__form-row">
      <div class="card-form__form-col col-ten">
        <%= f.label :type %><br />
        <%= f.select(:type, ["Expence", "Income", "Transfer"]) %>
      </div>
    </div>

    <div class="card-form__form-row">
      <div class="card-form__form-col col-seven">
        <%= f.label :account %><br />
        <%= f.select(:account, user_accounts_array) %>
      </div>
      <div class="card-form__form-col col-three">
        <%= f.label :currency %><br />
        <%= f.select(:currency, all_currencies(Money::Currency.table), selected: User.get_currency(current_user).iso_code, class: 'accountmenu__currency') %>
      </div>
    </div>

    <div class="card-form__form-row">
      <div class="card-form__form-col col-ten">
        <%= f.label :category %><br />
        <%= render partial: "shared/custom_dropdown_categories", locals: {
          selected: Category.get_user_categories(current_user, true, true).first,
          options: Category.get_user_categories(current_user, true, true),
        } %>
        <%= f.text_field :category %>
      </div>
    </div>

    <div class="card-form__form-row">
      <div class="card-form__form-col col-ten">
        <%= f.label :transactions %><br />
        <%= f.text_area :transactions, class: 'accountmenu__description' %>
      </div>
    </div>

    <div class="card-form__form-row">
      <div class="card-form__form-col col-ten">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>