<%= render "transactions_list", locals: locals %>

<% dates = distinct_dates(locals[:transactions]) %>
<% dates.each do |d| %>
  <script type="text/javascript">
    if ($("#" + "<%= d %>").length > 0) {
      $("#" + "<%= d %> ul").append("<%= j yield d %>");
    } else {
      $("#transactions").append(
        "<div id=\"<%= d %>\">" +
        "<h3><%= d %></h3>" +
        "<ul>" +
        "<%= j yield d %>" +
        "</ul>" +
        "</div>"
        )
    }
  </script>
<% end %>
