<%= render "transactions_list", locals: locals %>

<% dates = distinct_dates(locals[:transactions]) %>
<% dates.each do |d| %>
  <% d_formatted = d.strftime("%d %b %Y") %>
  <script type="text/javascript">
    if ($("#" + "<%= d %>").length > 0) {
      $("#" + "<%= d %> ul").append("<%= j yield d %>");
    } else {
      $("#transactions").append(
        "<div id=\"<%= d %>\">" +
        "<h3><%= d_formatted %><span class=\"float-right\">" +
        "<%= balance(@daily_totals[d], @account_currency) %>" + "</span></h3>" +
        "<ul>" +
        "<%= j yield d %>" +
        "</ul>" +
        "</div>"
        )
    }
  </script>
<% end %>
