<% locals[:transactions].each do |t| %>
  <%= content_for t.created_at.to_date do %>
    <a href="<%= transaction_path + '/' + t.id.to_s %>" class="no-link-style">
      <li>
        <%= t.description %>
        <span class="balance float-right">
          <%= user_currency.symbol %>
          <%= balance(t.amount.to_f, user_currency, "cents") %>
        </span>
      </li>
    </a>
  <% end %>
<% end %>