<h2><%= @account_name %> Transactions</h2>
<%= link_to 'Settings', account_settings_path if @account_id != 'all' %>

<% if params[:id] != 'all' %>
  <%= form_for :transaction, :url => url_for(:controller => 'transaction', :action => 'create_quick') do |f| %>
    <%= f.text_field :transaction_string, class: 'timezone-on-focus', id: 'quick-transaction-input' %>
    <%= f.select(:currency, all_currencies(Money::Currency.table), selected: Account.get_currency(@account_id, current_user).iso_code) %>
    <%= hidden_field_tag 'account_id', params[:id] %>
    <%= f.hidden_field :timezone, id: 'timezone_input' %>
    <%= f.submit 'Create' %>
  <% end %>
<% end %>

<%= render "transactions", locals: {transactions: @account_transactions[:transactions]} %>