<h2><%= @account_name %> Transactions</h2>

<% if @account_id != 'all' %>
  <%= form_for :transaction, :url => url_for(:controller => 'transaction', :action => 'create_quick') do |f| %>
    <%= f.text_field :user_input, class: 'timezone-on-focus', id: 'quick-transaction-input' %>
    <%= hidden_field_tag 'account_id', @account_id %>
    <%= f.hidden_field :timezone, id: 'timezone_input' %>
  <% end %>
<% end %>

<% @current_date = '' %>
<% @transactions.each do |t| %>
  
  <% t_time = get_transaction_time(t).to_date %>
  
  <% if t_time.to_date != @current_date %>

    <% if @current_date != '' %>
        </ul>
      </div>
    <% end %>

    <% @current_date = t_time.to_date %>

    <h3><%= @current_date %></h3>
    <div class="foldable" id="transactions_<%= @current_date %>">
      <ul>

  <% end %>

  <a href="<%= transaction_path + '/' + t.id.to_s %>" class="no-link-style">
    <li>
      <%= t.description %>
      <span class="balance float-right">
        <%= @currency_symbol %> <%= balance(t.amount.to_f, @cents_amount, "cents") %>
      </span>
    </li>
  </a>

<% end %>
  </ul>
</div>