<h2><%= @active_account.name %> Transactions</h2>
<%= I18n.l Time.now %>
<%= I18n.load_path %>

<button id="create-transaction-button">New Transaction</button>

<%= link_to 'Settings', account_settings_path if @active_account.is_real %>

<%= render "transactions", locals: {transactions: @account_transactions, daily_totals: @daily_totals, account_currency: @account_currency} %>