<% if @account_id != 'all' %>
  <%= form_for :transaction, :url => url_for(:controller => 'transaction', :action => 'create_quick') do |f| %>
    <%= f.text_field :user_input %>
    <%= hidden_field_tag 'account_id', @account_id %>
  <% end %>
<% end %>

<ul>
<% @transactions.each do |t| %>
  <a href="<%= transaction_path + '/' + t.id.to_s %>">
    <li>
      <%= t.amount %>
    </li>
  </a>
<% end %>
</ul>