<div class="row">
	<div class="col-12">
		<div class="input-group">
			<div class="category_symbol_field">
				<%= f.hidden_field :symbol %>
				<div class="input-group-prepend symbol_field">
					<%= render partial: "categories/symbols_dropdown", :locals => {:symbol => category.symbol, :color => category.color, :id => category.hash_id} %>
				</div>
			</div>
			<div class="input-group-prepend">
				<%= f.text_field :color, class: "form-control category_color", value: category.color_direct, "onchange" => "setCategoryColor(this)" %>
			</div>
			<%= f.text_field :name, class: "form-control" %>
			<div class="input-group-append">
				<%= f.button 'Save', :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " Saving ..."} %>
			</div>
		</div>
	</div>
</div>


<script>
	$(".category_color").each(function() {
		$(this).minicolors({
			theme: "bootstrap",
			letterCase: "uppercase"
		});
	});
</script>