<tr>
	<%= form_for transaction, url: approve_transaction_path(transaction.hash_id), :method => "put" do |f| %>
		<td>
			<%= User.format_date(transaction.local_datetime.to_date) %>
		</td>
		<td>
			<%= f.text_field :description, class: "form-control" %>
		</td>
		<td>
			<%= transaction.account.name %>
		</td>
		<td>
			<%= transaction.currency %>
		</td>
		<td>
			<%= f.number_field :amount, class: "form-control", step: :any, value: transaction.amount_neg %>
			<% if transaction.currency != transaction.account.currency %>
				<%= f.number_field :account_currency_amount, class: "form-control", step: :any, value: transaction.amount_single %>
			<% end %>
			<% if transaction.currency != transaction.user.currency %>
				<%= f.number_field :user_currency_amount, class: "form-control", step: :any, value: transaction.amount_single %>
			<% end %>
		</td>
		<td>
			<%= link_to "Discard", :controller => "transactions", :action => "discard", :id => transaction.hash_id %>
			<%= f.button 'Approve', :class => '', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " Approving transaction ..."} %>
		</td>
	<% end %>
</tr>