<% 
params = transaction_form_params(transaction)
selected_category = Category.get_uncategorised
selected_category = current_user.categories.friendly.find(transaction.category_id) if transaction.category_id > 0
category_suffix ||= schedule_id if defined?(schedule_id)
category_suffix ||= ""
category_suffix = category_suffix.to_s
formId = form_id_prefix.to_s + "transactionform" + form_id_suffix.to_s

if transaction.local_datetime.nil?
  transaction_time = 'now'
else
  transaction_time = transaction.local_datetime.strftime("%H:%M")
end

%>

<div class="row transactionform transactionform_root" id="<%= formId %>">

  <%# COLUMN 1 %>
  <div class="col-12 col-lg-6 col-xl-7 px-2 px-sm-5 border-right">

    <%# EXPENSE / INCOME / TRANSFER button group %>
    <div class="row py-2">
      <%# SCHEDULE ID %>
      <% if defined?(schedule_period_id) %>
        <%= f.hidden_field :schedule_period_id, value: schedule_period_id %>
      <% end %>
      <% if defined?(scheduled_transaction_id) %>
        <%= f.hidden_field :scheduled_transaction_id, value: scheduled_transaction_id %>
      <% end %>
      <% if defined?(schedule_id) %>
        <%= f.hidden_field :schedule_id, class: "form-control ignoreReset", value: schedule_id %>
      <% end %>
      
      <div class=" col-12 py-5 rounded <%= params[:type_bg_color] %>" id="type">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
          <label class="btn btn-outline-light py-3 <%= params[:type_expense_class] %>" id="type-expense" onclick="changeTransactionType('expense', this)">
            <%= f.radio_button :type, "expense", :checked => (params[:type] == "expense") %><%= t('transaction.types.expense') %>
          </label>

          <label class="btn btn-outline-light py-3 <%= params[:type_income_class] %>" id="type-income" onclick="changeTransactionType('income', this)">
            <%= f.radio_button :type, "income", :checked => (params[:type] == "income") %><%= t('transaction.types.income') %>
          </label>

          <label class="btn btn-outline-light py-3 <%= params[:type_transfer_class] %>" id="type-transfer" onclick="changeTransactionType('transfer', this)">
            <%= f.radio_button :type, "transfer", :checked => (params[:type] == "transfer") %><%= t('transaction.types.transfer') %>
          </label>
        </div>
      </div>
    </div>

    <%# DESCRIPTION %>
    <div class="row py-2">
      <div class="col-12 py-2">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control", "onkeyup" => "searchTransactions(this);", "onclick" => "showTransactionSearchResults(this);", autocomplete: "off" %>
        <div class="transaction_search_results dropdown-menu px-2 py-2">
        </div>
      </div>
    </div>


    <%# SINGLE ACCOUNT %>
    <div class="row py-2" id="single-account" style="<%= params[:single_account_style] %>">
      <div class="col-12 py-2">
        <%= f.label :account %>
        <%= f.select(:account, user_accounts_array, {:selected => params[:from_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);"}) %>
        <%= f.hidden_field :active_account, class: 'active_account', id: 'active_account_field' %>
      </div>
    </div>

    <%# TRANSFER ACCOUNTS %>
    <div class="row py-2" id="transfer-account" style="<%= params[:transfer_account_style] %>">
      <div class="col-12 col-lg-6 py-2">
        <%= f.label :from_account %>
        <%= f.select(:from_account, user_accounts_array, {:selected => params[:from_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);"}) %>
      </div>
      <div class="col-12 col-lg-6 py-2">
        <%= f.label :to_account %>
        <%= f.select(:to_account, user_accounts_array, {:selected => params[:to_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);" }) %>
      </div>
    </div>

    <%# CATEGORIES %>
    <div class="row py-2 <%= params[:category_class] %>" id="categories" style="<%= params[:category_style] %>">
      <div class="col-12 py-2">
        <%= f.label :category %><br />
        <%= render partial: "shared/custom_dropdown_categories", locals: {
          #selected: Category.get_user_categories(current_user, true)[0],
          selected: selected_category,
          options: Category.get_user_categories(current_user, true),
          input_target: "#edit_transaction_" + category_suffix + "_category_id",
          button_type: 'btn-outline-dark',
          id_suff: "_" + category_suffix
        } %>
        
        <% categories = Category.get_user_categories(current_user, true) %>
        <%= f.hidden_field :category_id, class: "transaction_category_id", :id => "edit_transaction_" + category_suffix + "_category_id_" + category_suffix, value: params[:category_hash_id] %>
      </div>
    </div>

  </div>

  <%# COLUMN 2 %>
  <div class="col-12 col-lg-6 col-xl-5">

    <%# MULTIPLE / SINGLE button group %>
    <div class="row py-2">
      <div class="col-12 py-5">

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
          <label class="btn btn-secondary py-3 <%= params[:single_transaction_class] %>" onclick="changeTransactionMultiple('single', this);" id="multiple-single">
            <%= f.radio_button :multiple, "single", :checked => params[:single_transaction_selected] %><%= t('transaction.single') %>
          </label>
          <label class="btn btn-secondary py-3 <%= params[:multiple_transaction_class] %>" onclick="changeTransactionMultiple('multiple', this);" id="multiple-multiple">
            <%= f.radio_button :multiple, "multiple", :checked => params[:multiple_transaction_selected] %><%= t('transaction.multiple') %>
          </label>
        </div>

      </div>
    </div>

    <%# AMOUNT SINGLE %>
    <div class="row py-2 <%= params[:amount_class] %>" id="amount" style="<%= params[:amount_style] %>">
      <div class="col-12 py-2">
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: "99.87", class: "form-control", step: :any, value: transaction.amount_single, 'onkeyup' => 'updateTransactionResult("#' + formId + '");' %>
      </div>
    </div>

    <%# AMOUNT MULTIPLE %>
    <div class="row py-2 <%= params[:transactions_class] %>" id="transactions" style="<%= params[:transactions_style] %>">
      <div class="col-12 py-2">
        <%= f.label :transactions %>
        <%= f.text_area :transactions, placeholder: "Milk 2.39\nApples 1.87\nBrocolli 3.09", class: "form-control", value: transaction.amount_multiple, "onkeyup" => "updateTransactionResult('#" + formId + "'); updateTransactionsTotal('##{formId}');", "rows" => "6" %>
        <div style="position: relative;" id="transaction_total_indicator">
          <p id="transaction_total">Total: <span id="transactions-total"><%= params[:transactions_total] %></span></p>
          <div style="width: 38px; height: 38px; position: absolute; top: 0; left: 45px;" id="total_ajax_spinner"></div>
        </div>
      </div>
    </div>

    <%# CURRENCY %>
    <div class="row py-2" id="transaction-currency-options" style="<%= params[:currency_style] %>">
      <div class="col-12 col-xl-3 py-2">
        <%
          if !transaction.account.nil? && transaction.currency == transaction.account.currency
            currency_class = ""
          else
            currency_class = " changed"
          end
        %>
        <%= f.label :currency %>
        <%= f.select(:currency, all_currencies(Money::Currency.table), {}, { :class => "form-control" + currency_class, 'onchange' => 'changeTransactionCurrency(this, ' + base_only.to_s + ', true)' }) %>
      </div>

      <div id="currency_conversion_ajax_spinner_container" style="display: none;">
        <div class="col-12 col-xl-9 py-2">
          <div id="currency_conversion_ajax_spinner" style="height: 38px; width: 100%; margin-top: 32px;">
          </div>
        </div>
      </div>

      <%# CURRENCY CONVERSION %>
      <% if base_only %>
        </div>
      <% else %>
        <div class="col-5 col-xl-3 py-2 <%= params[:currency_conversion_class] %>" id="currency-rate" style="<%= params[:currency_conversion_style] %>">
          <%= f.label :rate %><br />
          <%= f.number_field :rate, class: 'form-control', step: :any, 'default_value' => '1', 'onkeyup' => 'updateTransactionResult("#' + formId + '")', 'onchange' => 'updateTransactionResult("#' + formId + '")', value: params[:conversion_rate] %>
        </div>

        <div class="col-7 col-xl-6 py-2 <%= params[:currency_conversion_class] %>" id="currency-result" style="<%= params[:currency_conversion_style] %>">
          <%= f.label :amount_in %> <span id="account_currency"><%= transaction.account.currency if transaction.account %></span>
          <%= f.number_field :account_currency, class: 'accountmenu__balance form-control', step: :any, 'default_value' => '', 'onkeyup' => 'updateTransactionRate(this)', 'onchange' => 'updateTransactionRate(this)', value: transaction.amount_account %>
          <div id="transaction_account_currency_spinner" class="col-7 col-xl-6 py-2 hidden" style="position: absolute;">
            <%= image_tag "ajax_spinner.svg", height: "38px" %>
          </div>
        </div>

      </div>

        <%# TRANSFER CURRENCY CONVERSION %>
        <div class="row py-2 hidden" id="transfer_conversion_spinner">
          <div class="col-12 py-2">
            <%= image_tag "ajax_spinner.svg", height: "38px" %>
          </div>
        </div>

        <div class="row py-2 <%= params[:transfer_conversion_class] %>" id="transfer-currencies" style="<%= params[:transfer_conversion_style] %>">
          <div class="col-6 default-show py-2" id="currency-rate">
            <%= f.label :rate_from_to, id: "rate_from_to" %>
            <%= f.number_field :rate_from_to, class: "form-control", step: :any, "default_value" => "1", "onkeyup" => "updateTransactionResult('#" + formId + "');", "onchange" => "updateTransactionResult('#" + formId + "');", value: transaction.transfer_rate %>
          </div>

          <div class="col-6 default-show py-2" id="currency-result">
            <%= f.label :amount_in %> <span id="to_account_currency"><%= transaction.transfer_currency %></span>
            <%= f.number_field :to_account_currency, class: "form-control", step: :any, "default_value" => "", "onkeyup" => "updateTransactionRate(this);", value: transaction.transfer_currency_amount %>
            <div id="transaction_transfer_currency_spinner" class="col-7 col-xl-6 py-2 hidden" style="position: absolute;">
              <%= image_tag "ajax_spinner.svg", height: "38px" %>
            </div>
          </div>

        </div>

        <%# DATE AND TIME %>

        <div class="row py-2">
          <div class="col-6 py-2">
            <%= f.label :date %>
            <%= f.text_field :date, class: 'datepicker form-control ' + params[:dateclass], value: params[:date] %>
          </div>

          <div class="col-6 py-2">
            <%= f.label :time %>
            <%= f.text_field :time, type: 'time', value: transaction_time, class: 'form-control' %>
            <%= f.hidden_field :timezone, id: 'timezone_input', value: transaction.timezone %>
          </div>
        </div>

      <% end %>

      <%# SCHEDULE TYPE %>
        <% if defined?(schedule_id) && schedule_id.to_s.length > 0 %>
          <div class="row py-2">
            <div class="col-12">

              <%= f.label :schedule_type %>
              <%= f.select(:schedule_type, [["Record transaction immediately", 0], ["Review before recording transaction", 1]], {:selected => params[:schedule_type]}, { :class => "form-control" }) %>

            </div>
          </div>
        <% end %>

    </div>

  </div>

