<% 
params = transaction_form_params(transaction)
selected_category = Category.get_uncategorised
selected_category = current_user.categories.find(transaction.category_id) if transaction.category_id > 0
category_suffix ||= ""
formId = form_id_prefix.to_s + "transactionform" + form_id_suffix.to_s
%>

<div class="row transactionform" id="<%= formId %>">

  <%# COLUMN 1 %>
  <div class="col-12 col-lg-6 col-xl-7 px-2 px-sm-5 border-right">

    <%# EXPENSE / INCOME / TRANSFER button group %>
    <div class="row py-2">
      <div class=" col-12 py-5 rounded <%= params[:type_bg_color] %>" id="type">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
          <label class="btn btn-outline-light py-3 <%= params[:type_expense_class] %>" id="type-expense" onclick="changeTransactionType('expense', this)">
            <%= f.radio_button :type, "expense", :checked => (params[:type] == "expense") %>Expense
          </label>

          <label class="btn btn-outline-light py-3 <%= params[:type_income_class] %>" id="type-income" onclick="changeTransactionType('income', this)">
            <%= f.radio_button :type, "income", :checked => (params[:type] == "income") %>Income
          </label>

          <label class="btn btn-outline-light py-3 <%= params[:type_transfer_class] %>" id="type-transfer" onclick="changeTransactionType('transfer', this)">
            <%= f.radio_button :type, "transfer", :checked => (params[:type] == "transfer") %>Transfer
          </label>
        </div>
      </div>
    </div>

    <%# DESCRIPTION %>
    <div class="row py-2">
      <div class="col-12 py-2">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <%# SINGLE ACCOUNT %>
    <div class="row py-2" id="single-account" style="<%= params[:single_account_style] %>">
      <div class="col-12 py-2">
        <%= f.label :account %>
        <%= f.select(:account, user_accounts_array, {:selected => params[:from_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);"}) %>
      </div>
    </div>

    <%# TRANSFER ACCOUNTS %>
    <div class="row py-2" id="transfer-account" style="<%= params[:transfer_account_style] %>">
      <div class="col-12 col-lg-6 py-2">
        <%= f.label :from_account %>
        <%= f.select(:from_account, user_accounts_array, {:selected => params[:from_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);"}) %>
      </div>
      <div class="col-12 col-lg-6 py-2">
        <%= f.label :to_account %>
        <%= f.select(:to_account, user_accounts_array, {:selected => params[:to_account_name]}, { :class => "form-control", "onchange" => "changeTransactionAccount(this);" }) %>
      </div>
    </div>

    <%# CATEGORIES %>
    <div class="row py-2 <%= params[:category_class] %>" id="categories" style="<%= params[:category_style] %>">
      <div class="col-12 py-2">
        <%= f.label :category %><br />
        <%= render partial: "shared/custom_dropdown_categories", locals: {
          #selected: Category.get_user_categories(current_user, true)[0],
          selected: selected_category,
          options: Category.get_user_categories(current_user, true),
          input_target: "#edit_transaction_" + transaction.id.to_s + "_category_id",
          button_type: 'btn-outline-dark',
          id_suff: "_" + transaction.id.to_s
        } %>
        
        <% categories = Category.get_user_categories(current_user, true) %>
        <%= f.hidden_field :category_id, :id => "edit_transaction_" + transaction.id.to_s + "_category_id_" + transaction.id.to_s %>
      </div>
    </div>

  </div>

  <%# COLUMN 2 %>
  <div class="col-12 col-lg-6 col-xl-5">

    <%# MULTIPLE / SINGLE button group %>
    <div class="row py-2">
      <div class="col-12 py-5">

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="button-group">
          <label class="btn btn-secondary py-3 <%= params[:single_transaction_class] %>" onclick="changeTransactionMultiple('single', this);" id="multiple-single">
            <%= f.radio_button :multiple, "single", :checked => params[:single_transaction_selected] %>Single
          </label>
          <label class="btn btn-secondary py-3 <%= params[:multiple_transaction_class] %>" onclick="changeTransactionMultiple('multiple', this);" id="multiple_multiple">
            <%= f.radio_button :multiple, "multiple", :checked => params[:multiple_transaction_selected] %>Multiple
          </label>
        </div>

      </div>
    </div>

    <%# AMOUNT SINGLE %>
    <div class="row py-2 <%= params[:amount_class] %>" id="amount" style="<%= params[:amount_style] %>">
      <div class="col-12 py-2">
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: "99.87", class: "form-control", step: :any, value: transaction.amount_single, 'onkeyup' => 'updateTransactionResult("#' + formId + '");' %>
      </div>
    </div>

    <%# AMOUNT MULTIPLE %>
    <div class="row py-2 <%= params[:transactions_class] %>" id="transactions" style="<%= params[:transactions_style] %>">
      <div class="col-12 py-2">
        <%= f.label :transactions %>
        <%= f.text_area :transactions, placeholder: "Milk 2.39\nApples 1.87\nBrocolli 3.09", class: "form-control", value: transaction.amount_multiple, "onkeyup" => "updateTransactionResult('#" + formId + "');" %>
        <p id="transaction_total">Total: <span id="transactions-total">0</span></p>
      </div>
    </div>

    <%# CURRENCY %>
    <div class="row py-2" id="transaction-currency-options" style="<%= params[:currency_style] %>">
      <div class="col-12 col-xl-3 py-2">
        <%= f.label :currency %>
        <%= f.select(:currency, all_currencies(Money::Currency.table), {}, { :class => "form-control", 'onchange' => 'changeTransactionCurrency(this, ' + base_only.to_s + ', true)' }) %>
      </div>

      <%# CURRENCY CONVERSION %>
      <% unless base_only %>
        <div class="col-5 col-xl-3 py-2 <%= params[:currency_conversion_class] %>" id="currency-rate" style="<%= params[:currency_conversion_style] %>">
          <%= f.label :rate %><br />
          <%= f.number_field :rate, class: 'form-control', step: :any, 'default_value' => '1', 'onkeyup' => 'updateTransactionResult("#' + formId + '")', 'onchange' => 'updateTransactionResult("#' + formId + '")', value: params[:conversion_rate] %>
        </div>

        <div class="col-7 col-xl-6 py-2 <%= params[:currency_conversion_class] %>" id="currency-result" style="<%= params[:currency_conversion_style] %>">
          <%= f.label :amount_in, id: 'account_currency' %>
          <%= f.number_field :account_currency, class: 'accountmenu__balance form-control', step: :any, 'default_value' => '', 'onkeyup' => 'updateTransactionRate(this)', 'onchange' => 'updateTransactionRate(this)', value: transaction.amount_account %>
        </div>
      </div>

        <%# TRANSFER CURRENCY CONVERSION %>
        <div class="row py-2 <%= params[:transfer_conversion_class] %>" id="transfer-currencies">

          <div class="col-6 default-show py-2" id="currency-rate">
            <%= f.label :rate_from_to, id: "rate_from_to" %>
            <%= f.number_field :rate_from_to, class: "form-control", step: :any, "default_value" => "1", "onkeyup" => "updateTransactionResult('#" + formId + "');", "onchange" => "updateTransactionResult('#" + formId + "');" %>
          </div>

          <div class="col-6 default-show py-2" id="currency-result">
            <%= f.label :amount_in, id: "to_account_currency" %>  
            <%= f.number_field :to_account_currency, class: "form-control", step: :any, "default_value" => "", "onkeyup" => "updateTransactionRate(this);" %>
          </div>

        </div>

        <%# DATE AND TIME %>

        <div class="row py-2">
          <div class="col-6 py-2">
            <%= f.label :date %>
            <%= f.text_field :date, class: 'datepicker form-control' %>
          </div>

          <div class="col-6 py-2">
            <%= f.label :time %>
            <%= f.text_field :time, type: 'time', value:'now', class: 'form-control' %>
            <%= f.hidden_field :timezone, id: 'timezone_input' %>
          </div>
        </div>

      <% end %>

    </div>

  </div>

