<% 
	transaction_id = transaction.schedule.id.to_s + transaction.id.to_s + transaction.schedule_period_id.to_s
	scheduled_transaction_id = transaction.id
  scheduled_transaction_id = transaction.scheduled_transaction_id unless transaction.scheduled_transaction_id.nil?
  schedule = transaction.schedule
%>

<tr class="<%= 'upcoming-cancelled' if transaction.is_cancelled %>" id="transaction_<%= transaction_id %>" series-id="<%= transaction.id %>" schedule="<%= schedule.id %>" period="<%= transaction.schedule_period_id %>">
	<td><!-- date -->
		<%= User.format_date(transaction.local_datetime) %>
	</td>
	<td><!-- schedule -->
		<%= schedule.name %>
	</td>
	<td id="upcoming-description"><!-- description -->
		<%= transaction.description %>
	</td>
	<td id="upcoming-amount"><!-- amount -->
		<%= balance(transaction.amount, transaction.currency) %>
	</td>
	<td>
		<div class="dropdown show">

			<div id="upcoming-dropdown">
				<%= render partial: "transactions/upcoming_transaction_dropdown", :locals => {:transaction_id => transaction_id, :transaction => transaction, :scheduled_transaction_id => scheduled_transaction_id, :schedule => schedule} %>
			</div>

		</div>
	</td>
</tr>