<a href="#" class="upcoming_context_menu" role="button" id="contextMenuLink_<%= transaction_id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-ellipsis-h clickable fa-lg"></i>
</a>

<div class="dropdown-menu dropdown-menu-right dropshadow-light" aria-labelledby="contextMenuLink_<%= transaction_id %>" style="width: 180px;">
	<ul class="list-unstyled">
		<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#edit_upcoming_transaction_form" onclick="editUpcomingTransactionOccurrence(this);"><%= t('views.transactions.upcoming_dropdown.edit_occ') %></a></li>
		<% if transaction.scheduled_date.nil? %>
			<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#edit_upcoming_transaction_form" onclick="editUpcomingTransactionSeries(this);"><%= t('views.transactions.upcoming_dropdown.edit_series') %></a></li>
		<% end %>
		<% unless transaction.is_cancelled %>
			<li class="nav-item"><a href="#" class="nav-link" onclick="cancelUpcomingTransaction(this)"><%= t('views.transactions.upcoming_dropdown.cancel') %></a></li>
			<% if transaction.scheduled_date.nil? %>
				<li class="nav-item"><a href="#" class="nav-link" onclick="triggerUpcomingTransaction(this)"><%= t('views.transactions.upcoming_dropdown.trigger') %></a></li>
			<% end %>
		<% else %>
			<li class="nav-item"><a href="#" class="nav-link" onclick="uncancelUpcomingTransaction(this)"><%= t('views.transactions.upcoming_dropdown.uncancel') %></a></li>
		<% end %>
	</ul>
</div>