<% 
	transaction_id = transaction.schedule.id.to_s + transaction.id.to_s + transaction.schedule_period_id.to_s
	scheduled_transaction_id = transaction.id
  scheduled_transaction_id = transaction.scheduled_transaction_id unless transaction.scheduled_transaction_id.nil?
  schedule = transaction.schedule
%>

<tr class="<%= 'bg-danger' if transaction.is_cancelled %>" id="transaction_<%= transaction_id %>">
	<td><!-- date -->
		<%= User.format_date(transaction.local_datetime) %>
	</td>
	<td><!-- schedule -->
		<%= transaction.schedule.name %>
	</td>
	<td><!-- description -->
		<%= transaction.description %>
	</td>
	<td><!-- amount -->
		<%= balance(transaction.amount, transaction.currency) %>
	</td>
	<td>
		<div class="dropdown show">
			<a href="#" role="button" id="contextMenuLink_<%= transaction_id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-ellipsis-v clickable fa-lg"></i>
			</a>

			<div class="dropdown-menu dropdown-menu-right dropshadow-light" aria-labelledby="contextMenuLink_<%= transaction_id %>" style="width: 175px;">
				<ul class="list-unstyled">
					<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#edit_upcoming_transaction_form" onclick="editUpcomingTransactionOccurrence(<%= transaction.id %>, <%= transaction.schedule.id %>, <%= transaction.schedule_period_id %>, <%= scheduled_transaction_id %>);">Edit occurrence</a></li>
					<li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#edit_upcoming_transaction_form" onclick="editUpcomingTransactionSeries(<%= transaction.id %>);">Edit series</a></li>
					<% unless transaction.is_cancelled %>
						<li class="nav-item"><a href="#" class="nav-link" onclick="cancelUpcomingTransaction(<%= transaction.id %>, <%= transaction.schedule.id %>, <%= transaction.schedule_period_id %>, <%= transaction_id %>)">Cancel occurrence</a></li>
					<% else %>
						<li class="nav-item"><a href="#" class="nav-link" onclick="uncancelUpcomingTransaction(<%= transaction.id %>, <%= transaction.schedule.id %>, <%= transaction.schedule_period_id %>)">Uncancel occurrence</a></li>
					<% end %>
					<li class="nav-item"><a href="#" class="nav-link" onclick="triggerUpcomingTransaction(<%= transaction.id %>, <%= transaction.schedule.id %>, <%= transaction.schedule_period_id %>)">Trigger now</a></li>
				</ul>
			</div>
		</div>
	</td>
</tr>