<div class="container">
  <div class="row">
    <div class="col-12">

			<h2><%= t('pages.queued.title') %></h2>
			<% if @transactions.length == 0 %>
				<p><%= t('pages.queued.no_queued') %></p>
			<% else %>
				<table>
					<tr>
						<th>
							<%= t('pages.queued.date') %>
						</th>
						<th>
							<%= t('pages.queued.description') %>
						</th>
						<th>
							<%= t('pages.queued.account') %>
						</th>
						<th>
							<%= t('pages.queued.currency') %>
						</th>
						<th>
							<%= t('pages.queued.amount') %>
						</th>
						<th>
						</th>
					</tr>
					<% @transactions.each do |transaction| %>
						<%= render partial: 'queued_transaction', :locals => {:transaction => transaction} %>
					<% end %>
				</table>
			<% end %>
			
    </div>
  </div>
</div>
