<%= content_for :meta_title, t('views.transactions.queued.title') %>

<div class="container">
  <div class="row">
    <div class="col-12">

			<h1><%= t('views.transactions.queued.title') %></h1>
			<% if @transactions.length == 0 %>
				<p><%= t('views.transactions.none') %></p>
			<% else %>
				<table>
					<tr>
						<th>
							<%= t('views.transactions.queued.date') %>
						</th>
						<th>
							<%= t('views.transactions.queued.description') %>
						</th>
						<th>
							<%= t('views.transactions.queued.account') %>
						</th>
						<th>
							<%= t('views.transactions.queued.currency') %>
						</th>
						<th>
							<%= t('views.transactions.queued.amount') %>
						</th>
						<th>
						</th>
					</tr>
					<% @transactions.each do |transaction| %>
						<%= render partial: 'queued_transaction', :locals => {:transaction => transaction} %>
					<% end %>
				</table>
			<% end %>
			
    </div>
  </div>
</div>
