<%
if is_dropdown
  cl = 'text-dark dropdown-item'
  li_pref = ''
  li_suff = ''
  divider = '<div class="dropdown-divider"></div>'
else
  cl = 'text-dark nav-link'
  li_pref = '<li class="nav-item">'
  li_suff = '</li>'
  divider = '<div class="dropdown-divider"></div>'
end
%>

<ul class="list-unstyled">
	<%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.edit_account'), edit_user_registration_path, { :class=> cl } %><%= li_suff.html_safe %>
	<% if current_user.finished_setup %>
		<%#= li_pref.html_safe %><%#= link_to 'Settings', user_settings_path, { :class=> cl } %><%#= li_suff.html_safe %>
    <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.budgets'), budgets_path, { :class => cl } %><%= li_suff.html_safe %>
		<%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.schedules'), schedules_url, { :class => cl } %><%= li_suff.html_safe %>
    <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.notifications'), notifications_path, { :class => cl } %><%= li_suff.html_safe %>
    <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.upcoming'), upcoming_transactions_path, { :class => cl } %><%= li_suff.html_safe %>
    <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.categories'), categories_path, { :class => cl } %><%= li_suff.html_safe %>
		<%= divider.html_safe %>
	<% end %>
  <% unless Rails.env.production? %>
  <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.blog'), posts_path, { :class => cl } %><%= li_suff.html_safe %>
  <% end %>
  <%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.subscription'), plans_path, { :class => cl } %><%= li_suff.html_safe %>
	<%= li_pref.html_safe %><%= link_to t('views.layouts.dropdown_menu.sign_out'), destroy_user_session_path, { :class=> cl } %><%= li_suff.html_safe %>
</ul>