<% if user_signed_in? && @accounts %>
  <div id="left-menu">

    <h2>Accounts</h2>

    <!-- Unordered list containing user's accounts -->
    <ul class="sortable-list" data-url="/account/sort">

      <!-- Form for creating new accounts -->
      <li class="no-sorting">
      <%= form_for :account, :url => url_for(:controller => 'account', :action => 'create') do |f| %>
        <%= f.text_field :name_balance %>
      <% end %>
      </li>

      <!-- If more than one account exists, include sum of all accounts -->
      <% if @accounts.length > 1 %>
        <li class="clickable active no-sorting">
          All accounts <span class="balance">
          <%= @currency_symbol %> <%= balance(@total_balance, @cents_amount, "cents") %></span>
        </li>
      <% end %>

      <!-- Display all accounts -->
      <% @accounts.each do |a| %>
        <li class="clickable sortable-item" id="account_<%= a.id %>">
          <div class="sort-handle"></div>
          <%= a.name %> <span class="balance">
          <%= @currency_symbol %> <%= balance(a.balance.to_f, @cents_amount, "cents") %></span>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>