<% if user_signed_in? %>
  <% @accounts = Account.where("user_id" => current_user.id).order(:position) %>
  <% @currency_symbol = current_user.country.currency.symbol %>
  <% @cents_amount = current_user.country.currency.number_to_basic %>
  <% @total_balance = Account.where("user_id" => current_user.id ).sum(:balance) %>
  
  <div id="left-menu">

    <h2>Accounts <span id="create-account-button" class="float-right clickable">+</span></h2>

    <!-- Unordered list containing user's accounts -->
    <ul>

      <!-- Form for creating new accounts -->
      <li class="no-sorting" id="create-account-form" style="display:none;">
      <%= form_for :account, :url => url_for(:controller => 'account', :action => 'create') do |f| %>
        <%= f.text_field :name_balance %>
      <% end %>
      </li>

      <!-- If more than one account exists, include sum of all accounts -->
      <% if @accounts.length > 1 %>
        <a href="<%= account_path('all') %>" class="no-link-style">
          <li class="account-button no-sorting <%= 'active' if @account_id == 'all' %>" id="account_all">
            All accounts <span class="balance float-right">
            <%= @currency_symbol %> <%= balance(@total_balance, @cents_amount, "cents") %></span>
          </li>
        </a>
      <% end %>

      <!-- Display all accounts -->
      <div class="sortable-list" data-url="/account/sort">
        <% @accounts.each do |a| %>
          <a href="<%= account_path(a.id) %>" class="no-link-style sortable-item" id="account_<%= a.id %>">
            <li class="account-button <%= 'active' if @account_id.to_i == a.id %>">
              <div class="sort-handle"></div>
                <%= a.name %> <span class="balance float-right">
                <%= @currency_symbol %> <%= balance(a.balance.to_f, @cents_amount, "cents") %></span>
            </li>
          </a>
        <% end %>
      </div>

    </ul>
  </div>
<% end %>