<%
unless defined?(locals)
  locals = {
    active_account: -1
  }
end
%>

<% unless @hide_sidebar %>
  <div id="sidebar" class="position-fixed collapse width show bg-light in" aria-expanded="true">

    <div id="menu-container" class="px-4 text-light">

      <%= render "layouts/left_menu_account_dropdown" %>

      <% if current_user.finished_setup %>
      	<button type="button" class="btn btn-rounded dropshadow py-3 btn-light" data-toggle="modal" data-target="#transactionform" onclick="renderTransactionMenu('#transactionform');" id="new-transaction-button">
          <%= image_tag "plus.svg", height: "30px", class: "px-2" %><span class="px-2"><%= t('buttons.new_transaction.text') %></span>
        </button>

        <hr />

        <div class="d-block d-md-none">
          <%= render partial: "users/daily_budget", :locals => { :type => 'link' } %>

          <hr />
        </div>

        <%= render partial: "left_menu/section", locals: {
          title: "#{t('account.name')} <span id=\"create-account-button\" class=\"float-right clickable\"><a data-toggle=\"modal\" data-target=\"#accountform\" onclick=\"renderAccountMenu();\" id=\"new-account-button\">+</a></span>".html_safe,
          section_layout: "left_menu/user_accounts",
          locals: { accounts: user_accounts, active_account: locals[:active_account] }
        } %>
      <% end %>

    </div>
    
  </div>
<% end %>