<% if user_signed_in? && @accounts %>
  <div id="left-menu">

    <h2>Accounts <span id="create-account-button" class="float-right clickable">+</span></h2>

    <!-- Unordered list containing user's accounts -->
    <ul>

      <!-- Form for creating new accounts -->
      <li class="no-sorting" id="create-account-form" style="display:none;">
      <%= form_for :account, :url => url_for(:controller => 'account', :action => 'create') do |f| %>
        <%= f.text_field :name_balance %>
      <% end %>
      </li>

      <!-- If more than one account exists, include sum of all accounts -->
      <% if @accounts.length > 1 %>
        <li class="active no-sorting">
          <a class="none-link-style" href="<%= account_path('all') %>">
            All accounts <span class="balance float-right">
            <%= @currency_symbol %> <%= balance(@total_balance, @cents_amount, "cents") %></span>
          </a>
        </li>
      <% end %>

      <!-- Display all accounts -->
      <div class="sortable-list" data-url="/account/sort">
        <% @accounts.each do |a| %>
          <li class="sortable-item" id="account_<%= a.id %>">
            <div class="sort-handle"></div>
            <a class="none-link-style" href="<%= account_path(a.id) %>">
              <%= a.name %> <span class="balance float-right">
              <%= @currency_symbol %> <%= balance(a.balance.to_f, @cents_amount, "cents") %></span>
            </a>
          </li>
        <% end %>
      </div>

    </ul>
  </div>
<% end %>