<ul class="nav navbar-nav ml-auto">
  <% if user_signed_in? %>

    <li class="nav-item my-auto mx-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transactionform" onclick="resetTransactionMenu('#transactionform');" id="new-transaction-button">
        New Transaction
      </button>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-messages bg-primary rounded-circle">
          <%= image_tag 'message.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu_messages dropdown-menu-right" aria-labelledby="messagesDropdown">
        <%= render partial: 'layouts/user_messages' %>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-gear bg-primary rounded-circle">
          <%= image_tag 'gear.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= render partial: 'layouts/dropdown_menu', :locals => { :is_dropdown => true } %>
      </div>
    </li>

  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign in', new_user_session_path, { :class=>"nav-link" } %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, { :class=>"nav-link" } %>
    </li>
  <% end %>
</ul>