<nav class="navbar navbar-light bg-light fixed-top py-0 navbar-expand-sm" id="navbar-top">
	<% if user_signed_in? %>
	  <button class="navbar-toggler" type="button" data-toggle="toggle" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle navigation" id="sidebarCollapse">
	    <span class="navbar-toggler-icon"></span>
	  </button>
  <% end %>
  <%= link_to image_tag("logo_std_blue.svg", :class => "navbar__logo", 'height' => '35'), root_path %>

  <div class="navbar searchbar mx-auto" id="navbar_search">
    <div class="input-group">
      <%= form_for_filterrific @filterrific, html: { id: 'filter-form' } do |f| %>
        <%= f.text_field(:description, class: 'form-control', placeholder: "Search") %>
      <% end %>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button"><%= image_tag 'search.svg', height: "20px" %></button>
      </div>
    </div>
  </div>
  
  <%= render 'layouts/navigation_links' %>
	
</nav>

<script>
$("#sidebarCollapse").click(function() {
    var selector = $(this).data("target");
    $(selector).toggleClass('in');
    $('#content').toggleClass('in');
});
</script>