<% if user_signed_in? %>
  <div class="nav-item d-none d-lg-block text-center float-right" style="position: absolute; right: 120px;">
    <a class="text-secondary nav-link float-right" href="<%= budgets_path %>" title="Budgets">
      <span style="font-size: 25px;">
        <%= fa_icon "chart-bar" %>
      </span>
      <br />
      Budgets
    </a>

    <a class="text-secondary nav-link float-right" href="<%= schedules_path %>" title="Schedules">
      <span style="font-size: 25px;">
        <%= fa_icon "calendar-alt" %>
      </span>
      <br />
      Schedules
    </a>

    <a class="text-secondary nav-link float-right" href="<%= posts_path %>" title="Upcoming Transactions">
      <span style="font-size: 25px;">
        <%= fa_icon "blog" %>
      </span>
      <br />
      Blog
    </a>
  </div>
<% end %>

<ul class="nav navbar-nav ml-auto">
  <% if user_signed_in? %>

    

    <li class="nav-item dropdown d-none d-sm-block">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="readNotifications();">
        <div class="navbar-link rounded-circle bg-secondary navbar-messages">
          <%= image_tag 'message.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu_notifications dropdown-menu-right dropshadow-light" aria-labelledby="notificationsDropdown">
        <div id="user_notifications" class="py-2 px-2">
          <%#= render partial: 'layouts/notifications' %>
        </div>
      </div>
    </li>

    <li class="nav-item dropdown d-none d-sm-block">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-link rounded-circle bg-secondary navbar-gear">
          <%= image_tag 'gear.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropshadow-light" aria-labelledby="navbarDropdown">
        <%= render partial: 'layouts/dropdown_menu', :locals => { :is_dropdown => true } %>
      </div>
    </li>

  <% else %>
    <li class="nav-item d-none d-sm-block mx-2">
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-facebook", method: :post do %>
         <span class="fab fa-facebook-f"></span>&#8203;
      <% end %>
    </li>

    <li class="nav-item d-none d-sm-block mx-2">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-google", method: :post do %>
         <span class="fab fa-google"></span>&#8203;
      <% end %>
    </li>

    <li class="nav-item d-none d-sm-block">
      <%= link_to t('buttons.sign_in.text'), new_user_session_path, { :class=>"nav-link" } %>
    </li>
    <li class="nav-item d-none d-sm-block">
      <%= link_to t('buttons.sign_up.text'), new_user_registration_path, { :class=>"nav-link" } %>
    </li>
  <% end %>
</ul>