<ul class="nav navbar-nav ml-auto">
  <% if user_signed_in? %>

    <li class="nav-item dropdown d-none d-sm-block">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-link rounded-circle bg-secondary navbar-messages">
          <%= image_tag 'message.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu_notifications dropdown-menu-right" aria-labelledby="notificationsDropdown">
        <%= render partial: 'layouts/notifications' %>
      </div>
    </li>

    <li class="nav-item dropdown d-none d-sm-block">
      <a class="nav-link dropdown-toggle no-caret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-link rounded-circle bg-secondary navbar-gear">
          <%= image_tag 'gear.svg' %>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= render partial: 'layouts/dropdown_menu', :locals => { :is_dropdown => true } %>
      </div>
    </li>

  <% else %>
    <li class="nav-item d-none d-sm-block">
      <%= link_to 'Sign in', new_user_session_path, { :class=>"nav-link" } %>
    </li>
    <li class="nav-item d-none d-sm-block">
      <%= link_to 'Sign up', new_user_registration_path, { :class=>"nav-link" } %>
    </li>
  <% end %>
</ul>

