<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144283495-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144283495-1');
      </script>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stishly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Stishly" %>">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">

    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    
  </head>
  <body class="<%= @layout_bg %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div id="overlay"></div>
      <%= render 'layouts/messages' %>
      <%= render 'layouts/confirmation' %>

      <% if Rails.env.production? %>
        <%= render 'layouts/dev_warning' %>
      <% end %>

      <div class="wrapper">
        <% if user_signed_in? %>
          <%= render "card_forms/new_account_form" %>
          <%= render "card_forms/new_transaction_form" %>
          <%= render "card_forms/edit_transaction_form" %>
          <div id="page-left-menu">
            <%= render 'layouts/left_menu', locals: {active_account: @active_account} %>
          </div>
        <% end %>
        <div id="content" class="<%= "in" if !user_signed_in? || @hide_sidebar %>">
          <%= yield %>
          <div id="ajax_spinner_template" class="hidden">
            <div class="ajax_spinner">
              <%= image_tag "ajax_spinner.svg" %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      
    </footer>

    <% if user_signed_in? %>
      <script>
        function setDatepickers(){

          if ($(".datepicker").length > 0) {
            $(".datepicker").datepicker({
              format: "dd-M-yyyy",
              todayHighlight: true,
              weekStart: <%= current_user.country.nil? ? 0 : current_user.country.week_start %>,
              autoclose: true
            });

            $('.datepicker').each(function(){
              if (!$(this).hasClass('datepicker-null')){
                $(this).attr({'value': getDate});
              }
            });

            $('input[type="time"][value="now"]').each(function(){
              $(this).attr({'value': getTime});
            });
          }
        }
        setDatepickers();
      </script>
    <% end %>

  </body>
</html>
