<ul class="nav nav-tabs">
  <% if @active_account.persisted? %>
    <li class="nav-item">
      <%= link_to t('account.tabs.transactions'), show_account_path, :class => "nav-link" + (' active' if locals[:active_tab] == 'Transactions').to_s %>
    </li>
    <li class="nav-item">
      <%= link_to t('account.tabs.settings'), account_settings_path, :class => "nav-link" + (' active' if locals[:active_tab] == 'Settings').to_s %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to t('account.tabs.transactions'), root_path + "account", :class => "nav-link" + (' active' if locals[:active_tab] == 'Transactions').to_s %>
    </li>
  <% end %>
  <li class="<%= 'active' if locals[:active_tab] == 'Overview' %> nav-item"><a href="#" class="nav-link"><%= t('account.tabs.overview') %></a></li>
</ul>