<div class="modal <%= 'fade' if Rails.env.test? == false %>" id="transactions_to_schedule" tabindex="-1" role="dialog" aria-labelledby="transactionsToScheduleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionsToScheduleLabel">Add Transactions To Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for ScheduleJoin.new do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class="row py-2">
              <div class="col-12">
                <%= f.label :schedule %><br />
                <%= f.select(:schedules, user_schedules_array, {}, { :class => 'form-control' }) %>
              </div>
            </div>

            <%= f.text_field :transactions, value:"" %>

            <div class="row py-2">
              <div class="col-12">
                Next run date: <span id="next_run_date"></span>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Add', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>