<div class="modal <%= 'fade' if Rails.env.test? == false %>" id="transactions_to_schedule" tabindex="-1" role="dialog" aria-labelledby="transactionsToScheduleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transactionsToScheduleLabel">Add Transactions to Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <%= form_with(model: SchedulesTransaction.new) do |f| %>
        <div class="modal-body">
          <div class="container">

            <div class="row py-2">
              <div class="col-12">
                <%= f.label :schedule %><br />
                <%= f.select(:schedules, user_schedules_array, {:include_blank => true}, { :class => 'form-control', 'onchange' => 'changeSchedule(this.value)' }) %>
              </div>
            </div>

            <%= f.hidden_field :transactions, value:"" %>

            <div class="row py-2">
              <div class="col-12">
                <span id="next_run_date"></span>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button 'Add', :class => 'btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " Adding transactions ..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>