<div class="row py-4">
    <div class="col-12 col-lg-8">

    <%= form_for_filterrific @filterrific, html: { id: 'filter-form' } do |f| %>

      <% user_currency = Money::Currency.new(current_user.currency) %>

      <div class="row">
        <div class="col-12">
          <div class="input-group">
            <%= f.text_field(:description, class: 'form-control', placeholder: "Search") %>
            <div class="input-group-append">
              
              <%= image_submit_tag("search.svg", height: "38px", width: "50px", class: "btn btn-secondary") %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-link float-right" id="advanced_search_toggle" onclick="advancedFilterOptions();">advanced</button>
        </div>
      </div>

      <div class="filter-advanced" style="display: none;">

        <div class="row">
          <div class="col-12 py-2">
            <%= f.label :period %>
            <%= f.select(:period, [
              ["Any", "any"],
              ["Today", "today"],
              ["Past 7 days", "7days"],
              ["Past 30 days", "30days"],
              #["Current period", "period"],
              ["Custom range ...", "custom"]
              ], {}, { :class => "form-control", "onchange" => "changeFilterPeriod(this.value)" }) %>
          </div>
        </div>

        <%
          display_custom_range = "none"
          display_custom_range = "block" if params[:filterrific] && params[:filterrific][:period] == "custom"
        %>
        <div class="row" style="display: <%= display_custom_range %>;" id="custom_range">

          <div class="col-6 py-2">
            <%= f.label :from_date %>
            <%= f.text_field(:from_date, class: 'datepicker datepicker-null form-control') %>
          </div>
          <div class="col-6 py-2">
            <%= f.label :to_date %>
            <%= f.text_field(:to_date, class: 'datepicker datepicker-null form-control') %>
          </div>

        </div>

        <div class="row">

          <div class="col-12 py-2">
            <%= f.label :account %>
            <%= f.select(:account, user_accounts_array, { :include_blank => "- any -" }, { :class => 'form-control' }) %>
          </div>

        </div>
        
        <div class="row">

          <div class="col-12 py-2">
            <%= f.label :category %><br />
            <%= render partial: "/shared/custom_dropdown_categories", locals: {
              selected: nil,
              options: Category.get_user_categories(current_user, true, true),
              input_target: '#filter-form #filterrific_category_id',
              button_type: "btn-light",
              id_suff: "_filter"
            } %>
            <% categories = Category.get_user_categories(current_user, true) %>
            <%= f.hidden_field :category_id, :id => "filterrific_category_id_filter" %>
          </div>

        </div>

        <%
        max_amount = current_user.transactions.maximum("ABS(user_currency_amount)")
        max_amount ||= 1000
        max_amount = max_amount / user_currency.subunit_to_unit
        max_amount = (max_amount + 1000) / 1000 * 1000

        from_amount = 0
        to_amount = max_amount

        if params[:filterrific] && params[:filterrific][:amount_range]
          range = params[:filterrific][:amount_range].split(",")
          from_amount = range[0].to_i / user_currency.subunit_to_unit
          to_amount = range[1].to_i / user_currency.subunit_to_unit
        end
        %>

        <div class="row">
          <div class="col-12 py-2">
            <%= f.label :amount %><br />
            <%# TODO: Find a better color for the slider; %>
            <div class="slider-left">
              <b><%= balance(0, user_currency, "none") %></b>
            </div>
            <%= f.text_field(:amount_range,
              "data-slider-min" => "0",
              "data-slider-max" => max_amount,
              "data-slider-step" => "5",
              "data-slider-value" => "[#{from_amount}, #{to_amount}]"
              ) %>
            <div class="slider-right">
              <b><%= balance((max_amount * user_currency.subunit_to_unit), user_currency, "none") %></b>
            </div>
          </div>
        </div>

        <% 
        include_children_slider_value = 1
        if params[:filterrific] && params[:filterrific][:include_children]
          include_children_slider_value = params[:filterrific][:include_children]
        end
        %>

        <div class="row">
          <div class="col-12 py-2">
            <%= f.label :granularity %><br />
            <div id="granularity-slider">
              <%= f.text_field(:include_children,
              "data-provide" => "slider",
              "data-slider-ticks" => "[1, 2, 3]",
              "data-slider-ticks-labels" => '["Parent", "Child", "All"]',
              "data-slider-ticks-snap-bounds" => "30",
              "data-slider-tooltip" => "hide",
              "data-slider-value" => include_children_slider_value
              ) %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= f.label :sort_by %>
            <%= f.select(:sorted_by, [
              ["Created (desc)", "created_at_desc"], 
              ["Created (asc)", "created_at_asc"], 
              ["Description (desc)", "description_desc"], 
              ["Description (asc)", "description_asc"], 
              ["Amount (desc)", "amount_desc"],
              ["Amount (asc)", "amount_asc"],
              #["Category (desc)", "category_desc"],
              #["Category (asc)", "category_asc"]
              ], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>

      <% if @filtered %>
        <div class="row">
          <div class="col-12">
            <%= link_to(
              'Reset filters',
              reset_filterrific_url,
              "onclick" => "reloadPageAfterClearFilters();"
            ) %>
          </div>
        </div>
      <% end %>

  </div>

  <% end %>
</div>