<%= form_for_filterrific @filterrific, html: { id: 'filter-form' } do |f| %>
  <div class = "row">

    <div class="col-12">
      <%= f.label :description %>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(:description, class: 'form-control') %>
    </div>

  </div>

  <div class="row">

    <div class="col-6">
      <%= f.label :from_date %>
      <%= f.text_field(:from_date, class: 'datepicker datepicker-null form-control') %>
    </div>
    <div class="col-6">
      <%= f.label :to_date %>
      <%= f.text_field(:to_date, class: 'datepicker datepicker-null form-control') %>
    </div>

  </div>

  <div class="row">

    <div class="col-12">
      <%= f.label :account %>
      <%= f.select(:account, user_accounts_array, { :include_blank => "- any -" }, { :class => 'form-control' }) %>
    </div>

  </div>
  
  <div class="row">

    <div class="col-12">
      <%= f.label :category %><br />
      <%= render partial: "/shared/custom_dropdown_categories", locals: {
        selected: Category.get_user_categories(current_user, true, true)[0],
        options: Category.get_user_categories(current_user, true, true),
        input_target: '#filter-form #filterrific_category_id'
      } %>
      <% categories = Category.get_user_categories(current_user, true) %>
      <%= f.hidden_field :category_id %>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <b>€ 10</b> <input id="amount_slider" type="text" class="span2" value="" data-slider-min="<%= current_user.transactions.minimum("user_currency_amount") %>" data-slider-max="<%= current_user.transactions.maximum("user_currency_amount") %>" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.label :granularity %><br />
      <%= f.text_field(:include_children,
      "data-provide" => "slider",
      "data-slider-ticks" => "[1, 2, 3]",
      "data-slider-ticks-labels" => '["Parents", "Children", "Parents AND Children"]',
      "data-slider-min" => "1",
      "data-slider-max" => "3",
      "data-slider-step" => "1",
      "data-slider-value" => "3",
      "data-slider-tooltip" => "hide"
      ) %>
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= f.label :sort_by %>
      <%= f.select(:sorted_by, [
        ["Created (desc)", "created_at_desc"], 
        ["Created (asc)", "created_at_asc"], 
        ["Description (desc)", "description_desc"], 
        ["Description (asc)", "description_asc"], 
        ["Amount (desc)", "amount_desc"],
        ["Amount (asc)", "amount_asc"],
        #["Category (desc)", "category_desc"],
        #["Category (asc)", "category_asc"]
        ], {}, { :class => 'form-control' }) %>
    </div>
  </div>

  <div class="row">
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  
  <%= f.submit 'Search' %>
<% end %>