<div id="overview-charts">

	<div class="row pt-4">
	  <div class="col-12">
	    <%= line_chart(history_data, title: t('charts.balance_history')) %>
	  </div>
	</div>

	<% unless category_data[:root].length == 0 %>
		<div class="row">
			<div class="col-12 py-2">
				<h2><%= t('pages.overview.expenses') %>: <%= balance(category_data[:total], category_data[:currency], "cents") %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-6 py-2">
		  	<%= pie_chart(category_data[:root], title: t('categories.name'), colors: category_data[:root_colors], donut: true) %>
		  </div>

		  <% category_data[:totals].each do |total| %>
		  	<div class="col-12 col-xl-6 py-2">
		  		<%= pie_chart(category_data[:charts][total[0]], title: total[0], donut: true) %>
		  	</div>
		  <% end %>
		</div>
	<% end %>

	<% unless category_data_income[:root].length == 0 %>
		<div class="row">
			<div class="col-12 py-2">
				<h2><%= t('pages.overview.income') %>: <%= balance(category_data_income[:total], category_data_income[:currency], "cents") %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-xl-6 py-2">
		  	<%= pie_chart(category_data_income[:root], title: t('categories.name'), colors: category_data_income[:root_colors], donut: true) %>
		  </div>

		  <% category_data_income[:totals].each do |total| %>
		  	<div class="col-12 col-xl-6 py-2">
		  		<%= pie_chart(category_data_income[:charts][total[0]], title: total[0], donut: true) %>
		  	</div>
		  <% end %>
		</div>
	<% end %>

</div>