<div id="<%= d %>">
  <h3 id="day_<%= d %>"><%= d_formatted %>
    <span class="float-right">
      <%= balance(@daily_totals[d], @account_currency) %>
    </span>
  </h3>
  <ul id="transactions_<%= d %>" class="parent_transactions">
    <%= yield d %>
  </ul>
</div>