<% 
  if defined?(active_account) && !active_account.nil? && active_account.id != 0
    currency = active_account.currency
    amount = transaction.account_currency_amount
  else
    currency = current_user.currency
    amount = transaction.user_currency_amount
  end
  amount = balance(amount.to_f, Money::Currency.new(currency), "cents")
%>

<% conversion_message = nil %>
<%
  if transaction.currency != currency
    conversion_message = balance(transaction.amount, Money::Currency.new(transaction.currency), "cents")
  end
%>

<div id="transaction_listing_<%= transaction.hash_id %>" class="transaction_listing" time="<%= transaction.time_num %>">
  <div class="select-item-container" id="transaction_<%= transaction.hash_id %>">

    <div class="transaction-checkbox float-left" id="select_transaction_<%= transaction.hash_id %>">

      <label class="checkbox-container">
        <%= check_box_tag "select[#{transaction.hash_id}]", transaction.hash_id, false, class: 'checkbox-inline transaction-checkbox-input styled-checkbox', 'onchange' => 'selectTransaction(this);'%>
        <span class="checkmark"></span>
      </label>

    </div>

    <div class="transaction-details">

      <% if transaction.children.length > 0 %>
        <span class="show-child-transactions float-left clickable">
          <%= image_tag 'arrow_right_line_black.svg' %>
        </span>
      <% end %>


      <a href="#" data-toggle="modal" data-target="#edit_transaction_form" onclick="editTransaction(this);" id="<%= transaction.hash_id %>">
        <li time="<%= transaction.time_num %>" id="transaction_<%= transaction.hash_id %>">

          <%= fa_icon transaction.category.symbol, class: "rounded-circle category", :style => 'background-color: ' + transaction.category.decorate.color + '; padding: 5px;' %>

          <%= transaction.description %>
          <span class="balance float-right">
            <%= amount %>
          </span>
          <span class="float-right conversion-message">
            <%= "~" if conversion_message %>
            <%= conversion_message %>
          </span>

          <br />
          <span class="transfer-message">
            <%= transaction.transfer_message %>
          </span>

        </li>
      </a>

      <% if transaction.children.length > 0 %>
        <ul class="child_transactions list-unstyled">
          <% transaction.children.decorate.each do |ct| %>
            <% child_currency = Money::Currency.new(ct.currency) %>
            <li>
              <%= ct.description %>
              <span class="balance float-right">
                <%= balance(ct.amount.to_f, child_currency, "cents") %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>

      <hr />

    </div>

  </div>
</div>