<div id="<%= d %>">
  <h3 id="day_<%= d %>" currency="<%= account_currency %>" class="text-light" balance="<%= day_total %>"><%= d_formatted %>
    <span class="float-right" currency="<%= account_currency %>" balance="<%= day_total %>">
      <%= balance(day_total, Money::Currency.new(account_currency)) %>
    </span>
  </h3>
  <ul id="transactions_<%= d %>" class="parent_transactions list-unstyled">
    <%= yield d %>
  </ul>
</div>