<% if params[:filterrific].nil? || (params[:filterrific] && /^created_at_/.match(params[:filterrific][:sorted_by])) %>
  <div id="<%= d %>">
    <h3 id="day_<%= d %>" currency="<%= account_currency %>" balance="<%= day_total %>" class="transactions-daydiv" num="<%= d.to_s.gsub! '-', '' %>"><%= d_formatted %>
      <span class="float-right" currency="<%= account_currency %>" balance="<%= day_total %>">
        <%= balance(day_total, Money::Currency.new(account_currency), "cents") %>
      </span>
    </h3>
    <ul id="transactions_<%= d %>" class="parent_transactions list-unstyled">
      <%= yield d %>
    </ul>
  </div>
<% end %>
