<% locals[:transactions].each do |t| %>
  <% child_transactions = t.children %>

  <%= content_for t.local_datetime.to_date do %>
    <% if child_transactions.length > 0 %>
      <span class="show-child-transactions float-left clickable">
        <%= image_tag 'arrow_right_line_white.svg' %>
      </span>
    <% end %>
    
    <a href="<%= transaction_path + '/' + t.id.to_s %>" class="no-link-style">
      <li>
        <%= image_tag 'categories/' + t.category.symbol + '.svg', :style => "background-color: hsl(" + t.category.color + ");" %>
        <%= t.description %>
        <span class="balance float-right">
          <%= balance(t.amount.to_f, Money::Currency.new(t.currency), "cents") %>
        </span>
        
        <span>
          <%= t.transfer_message %>
        </span>
      </li>
    </a>

    <% if child_transactions.length > 0 %>
      <ul class="child_transactions">
        <% child_transactions.each do |ct| %>
          <li>
            <%= ct.description %>
            <span class="balance float-right">
              <%= balance(ct.amount.to_f, Money::Currency.new(ct.currency), "cents") %>
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>

    <hr />
  <% end %>
<% end %>
