<%= content_for :account_content do %>
  <%= form_for @active_account do |f| %>
    <div class="row pt-4 pb-2">
      <div class="col-12 col-sm-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-12 col-sm-6">
        <%= f.label :currency %>
        <%= f.select(:currency, all_currencies(Money::Currency.table), {}, { :class => "form-control", "disabled" => "disabled" }) %>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 col-sm-6">
        <%= f.label :type %>
        <%= f.select(:account_type, [["Spending", "spend"], ["Saving", "save"]], {}, {:class => "form-control"}) %>
      </div>
      <div class="col-12 col-sm-6">
        <%= f.label :balance %>
        <%= f.number_field :balance, placeholder: "1000.00", class: 'form-control', step: :any, value: @active_account.balance_float %>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12">
        <%= f.button t('buttons.edit_account_save.text'), :class => 'float-right btn btn-primary', data: {disable_with: image_tag("ajax_spinner_white.svg", height: "20") + " #{t('buttons.edit_account_save.action')} ..."} %>
        <button type="button" class="btn btn-danger delete-confirm" confirm-message="<%= t('account.delete_warning') %>" data-link="<%= delete_account_path(@active_account) %>"><%= t('buttons.delete_account.text') %></button>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: "template", :locals => {:active_tab => "Settings"} %>