<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>

        <%= @active_account.name %> -
        <span id="account-title-balance" balance=<%= @active_account.balance%>>
          <%= balance(@active_account.balance.to_f, Account.get_currency(@active_account), "cents") %>
        </span>

      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%#= render "account_tab_menu" %>
    </div>
  </div>

  <div id="row">
    <div class="col-12">
      <%= render partial: "filter_form" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="transactions_list">

        <%= render partial: "transactions" %>

      </div>
    </div>
  </div>

</div>