<%= content_for :meta_title, "#{@active_account.name}" %>

<%= content_for :account_content do %>
  <div id="row">
    <div class="col-12">
      <%= render partial: "filter_form" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render :partial => "add_transactions_to_schedule" %>
      <%= render :partial => "mass_transaction_actions" %>

      <div class="transaction-checkbox mx-4" id="select_all_transactions">
        <label class="checkbox-container">
          <%= check_box_tag "select_all", "all_visible_transactions", false, class: 'checkbox-inline', 'onchange' => 'selectAllTransactions(this);'%>
          <span class="checkmark"></span>
        </label>
      </div>

      <div id="transactions_list" class="py-4 px-4">
        <%= render partial: "transactions" %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "template", :locals => {:active_tab => "Transactions"} %>