<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>

        <%= @active_account.name %> -
        <span id="account-title-balance" balance=<%= @active_account.balance%>>
          <%= balance(@active_account.balance.to_f, Account.get_currency(@active_account), "cents") %>
        </span>

      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render "account_tab_menu", locals: {active_tab: "Transactions"} %>
    </div>
  </div>

  <div id="row">
    <div class="col-12">
      <%= render partial: "filter_form" %>
    </div>
  </div>

  <% if @filtered %>
    <div class="row">
      <div class="px-3">
          <div class="filtered_warning bg-warning rounded-top px-3 py-1 border-warning border-3">
            Filtered
          </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= render :partial => "add_transactions_to_schedule" %>
      <%= render :partial => "mass_transaction_actions" %>

      <div class="transaction-checkbox mx-4" id="select_all_transactions">
        <label class="checkbox-container">
          <%= check_box_tag "select_all", "all_visible_transactions", false, class: 'checkbox-inline', 'onchange' => 'selectAllTransactions(this);'%>
          <span class="checkmark"></span>
        </label>
      </div>

      <div id="transactions_list" class="py-4 px-4 <%= "border border-warning rounded-bottom border-3" if @filtered %>">
        <%# TODO: Find better color for filtered border %>
        <%= render partial: "transactions" %>

      </div>
    </div>
  </div>

</div>
